<!-- Článek v rámci Boxu automatických článků -->
<article class="ArticleBoxSmall">
  <picture class="ArticleBoxSmall-imgContainer">
    {# Velikost náhledu 960 x 640 #}
    <source media="(max-width: 576px)" srcset="./img/placeholder-article-thumb-small-mobile.jpg"/>
    {# Velikost náhledů 1x: 200 x 133, 1.5x: 300 x 200, 2x: 400 x 266 #}
    <source srcset="./img/placeholder-article-thumb-small.jpg 1x, ./img/placeholder-article-thumb-small@1.5x.jpg 1.5x, ./img/placeholder-article-thumb-small@2x.jpg 2x"/>
    {# Velikost náhledu 200 x 133 #}
    <img class="ArticleBoxSmall-img" src="./img/placeholder-article-thumb-small.jpg" width="200" height="133" alt=""/>
    <a href="#" class="Badge">Reprezentace U21</a>
  </picture>
  <div class="ArticleBoxSmall-textContainer">
    <h3 class="H6 ArticleBoxSmall-title">
      <a class="Link--stretched Link--inverted" href="#">Reprezentace letos odehraje přípravné zápasy v Černé Hoře a Maďarsku</a>
    </h3>
    <time class="Date" datetime="2022-11-23">23. 11. 2022</time>
  </div>
</article>