<!-- HTML kód (celá šířka stránky) -->
<div class="Banner Board-item">
  {# Libovolné HTML z adminu #}
  <a href="#" target="_blank" rel="noopener noreferrer">
    <img src="./img/placeholder-banner-wide@3x.jpg" width="1040" height="88" alt="{Popis obrázku / Název banneru}"/>
  </a>
</div>