<!-- HTML kód (1/3 šířky stránky) -->
<div class="Banner Banner--small Board-item">
  {# Libovolné HTML z adminu #}
  <a href="#" target="_blank" rel="noopener noreferrer">
    <img src="./img/placeholder-banner-square@3x.jpg" width="320" height="320" alt="{Popis obrázku / Název banneru}"/>
  </a>
</div>