<article class="Article-widget Article-widget--alignedLeft MatchBox">
  <p class="MatchBox-meta">Česko A, 9. 12. 2022, 17:00</p>
  <div class="u-display-flex u-mt-8">
    <span class="MatchBox-flag fi fi-cz fis"></span>
    <span class="MatchBox-flag fi fi-pt fis"></span>
  </div>
  <h4 class="H6 u-mt-8">Česko - Portugalsko</h4>
  <strong class="H3 MatchBox-result">2:1</strong>
  <a href="#" class="Button u-mt-8">Detail zápasu</a>
</article>