<div class="Article-widget">
  <div class="HeadingWithSelectContainer">
    <h3 class="H6">Soutěže 2022</h3>
    <select class="Select" name="" id="TEST-select">
      <option value="">Ročník 2022</option>
      <option value="">Ročník 2021</option>
      <option value="">Ročník 2020</option>
    </select>
  </div>
  <table class="Table">
    <thead>
      <tr>
        <th class="u-sticky-cell">Soutěž</th>
        <th class="u-width-dominate">Jméno soutěže</th>
        <th class="u-ta-center"># Týmů</th>
        <th>Informace k soutěži</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="u-sticky-cell">A1A</td>
        <td>
          <a href="#" class="Link Link--inverted">KP mužů</a>
        </td>
        <td class="u-ta-center">16</td>
        <td class="Table-actions">
          <a href="#" class="Link Link--inverted">Zápasy</a>
          <a href="#" class="Link Link--inverted">Tabulka</a>
          <a href="#" class="Link Link--inverted">Delegace</a>
          <a href="#" class="Link Link--inverted">Statistiky</a>
        </td>
      </tr>
      <tr>
        <td class="u-sticky-cell">A2A</td>
        <td>
          <a href="#" class="Link Link--inverted">I.A třída mužů - sk."A"</a>
        </td>
        <td class="u-ta-center">10</td>
        <td class="Table-actions">
          <a href="#" class="Link Link--inverted">Zápasy</a>
          <a href="#" class="Link Link--inverted">Tabulka</a>
          <a href="#" class="Link Link--inverted">Delegace</a>
          <a href="#" class="Link Link--inverted">Statistiky</a>
        </td>
      </tr>
      <tr>
        <td class="u-sticky-cell">A2B</td>
        <td>
          <a href="#" class="Link Link--inverted">I.A třída mužů - sk."B"</a>
        </td>
        <td class="u-ta-center">4</td>
        <td class="Table-actions">
          <a href="#" class="Link Link--inverted">Zápasy</a>
          <a href="#" class="Link Link--inverted">Tabulka</a>
          <a href="#" class="Link Link--inverted">Delegace</a>
          <a href="#" class="Link Link--inverted">Statistiky</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>