<!-- Article box - big -->
<article class="ArticleBoxBig">
  <picture class="ArticleBoxBig-imgContainer">
    <source media="(max-width: 576px)" srcset="./img/placeholder-article-thumb-big-mobile.jpg"/>
    <source srcset="./img/placeholder-article-thumb-big.jpg 1x, ./img/placeholder-article-thumb-big@1.5x.jpg 1.5x, ./img/placeholder-article-thumb-big@2x.jpg 2x"/>
    <img class="ArticleBoxBig-img" src="./img/placeholder-article-thumb-big.jpg" width="440" height="294" alt="" loading="lazy"/>
    <a href="#" class="Badge">Reprezentace</a>
  </picture>
  <div class="ArticleBoxBig-textContainer">
    <h3 class="H4 ArticleBoxBig-title">
      <a class="Link--stretched Link--inverted" href="#">Chytil zazářil při debutu třemi góly. Česko porazilo Faerské ostrovy 5:0</a>
    </h3>
    <time class="Date" datetime="2022-11-23">23. 11. 2022</time>
    <p class="ArticleBoxBig-perex">Česká reprezentace v posledním domácím utkání v kalendářním roce 2022 porazila Faerské ostrovy 5:0. Útočník Mojmír Chytil při své premiéře vstřelil tři góly.</p>
  </div>
</article>