<article class="Article-widget Article-widget--alignedRight PlayerBox">
  <div class="PlayerBox-imgContainer">
    <img class="PlayerBox-img" src="./img/placeholder-player-portrait@3x.png" width="84" height="84" alt="{Jméno hráče}" loading="lazy"/>
  </div>
  <h4 class="H6 u-mt-16">Tomáš Souček</h4>
  <p class="H9 u-c-grey--100 u-tt-uppercase">West Ham United</p>
  <ul class="PlayerBox-stats u-mt-16">
    <li>
      <p class="H9 u-c-grey--100 u-tt-uppercase">Zápasy</p>
      <strong class="H6">56</strong>
    </li>
    <li>
      <p class="H9 u-c-grey--100 u-tt-uppercase">Minuty</p>
      <strong class="H6">4532</strong>
    </li>
    <li>
      <p class="H9 u-c-grey--100 u-tt-uppercase">Góly</p>
      <strong class="H6">9</strong>
    </li>
  </ul>
  <a href="#" class="Button u-mt-16">Detail hráče</a>
</article>