<ul role="navigation" class="breadcrumbs">
    <li>
        <a href="/">
            <svg width="22" height="22">
                <use xlink:href="#home"></use>
            </svg>
            Domů
        </a>
    </li>
    <li>
        <a href="#">
            Rozcestník soutěží
        </a>
    </li>
    <li>
        <a href="#">
            Hradec Králové
        </a>
    </li>
    <li>
        <a href="#">
            CK VOTROK 3. třída západ
        </a>
    </li>
</ul>
