<!-- Club finder -->
<div class="Box u-mt-primary">
  <form class="Form Form--clubFinder" action="">
    <div class="u-position-relative">
      <label class="Form-label" for="frm-club">Vyhledávání klubů</label>
      <input class="Form-input Form-input--search js-autoComplete--clubs" type="search" name="club" id="frm-club" placeholder="Zadejte název nebo ID klubu" autocomplete="off" data-autocomplete-src="./clubs.json"/>
      <button class="Form-searchButton" type="submit" aria-label="Vyhledat">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
        </svg>
      </button>
    </div>
  </form>
</div>