<script src="./js/components/map.js" defer="defer"></script>
<script src="./js/components/nav.js" defer="defer"></script>
<script src="./js/components/topStories.js" defer="defer"></script>
<script src="./js/components/autoComplete.js" defer="defer"></script>
<script src="./js/components/modal.js" defer="defer"></script>
<script src="./js/features/fetchAnnouncement.js" defer="defer"></script>
<script src="./js/main.js" defer="defer"></script>
