<!-- Footer -->
<footer class="Footer">
  <div class="u-display-flex u-flex-column u-align-items-center">
    <!-- Logo -->
    <a href="/" class="Footer-logo" title="Fotbalová asociace České republiky - domovská stránka">
      <img src="./img/logo-facr.svg" width="80" height="108" alt="logo Fotbalová asociace České republiky"/>
    </a>

    <!-- Contact -->
    <div class="Container u-ta-center u-mt-40 u-sm-mt-24">
      <p class="u-c-white">
        Atletická 2474/8
        <span class="u-xs-display-none">,</span>
        <span class="u-xs-display-block">169 00 Praha 6 - Strahov (<a href="https://www.google.com/maps/place/FA%C4%8CR,+Fotbalov%C3%A1+s%C3%AD%C5%88+sl%C3%A1vy/@50.079456,14.381353,16z/data=!4m6!3m5!1s0x470b950f523b56a9:0xc76f6f341f3c4f23!8m2!3d50.0794559!4d14.3813534!16s%2Fg%2F11b8c3gp06?hl=cs" target="_blank" rel="noopener noreferrer">mapa</a>)</span>
      </p>
      <p class="u-c-white">
        <strong>tel:</strong>
        +420 233 029 111
        <span class="u-sm-display-none">|</span>
        <br class="u-display-none u-sm-display-block"/>
        <strong>fax:</strong>
        +420 233 353 107
        <span class="u-sm-display-none">|</span>
        <br class="u-display-none u-sm-display-block"/>
        <strong>e-mail:</strong>
        <a href="mailto:facr@fotbal.cz">facr@fotbal.cz</a>
      </p>
    </div>

    <!-- Footer nav -->
    <nav class="NavFooter" aria-label="Spodní sekundární navigace">
      <ul class="NavFooter-menu">
        <li class="NavFooter-item">
          <a href="#" class="NavFooter-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#official_desk"></use>
            </svg>
            <span>Úřední deska</span>
          </a>
        </li>
        <li class="NavFooter-item">
          <a href="#" class="NavFooter-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#is"></use>
            </svg>
            <span>IS FAČR</span>
          </a>
        </li>
        <li class="NavFooter-item">
          <a href="#" class="NavFooter-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#club_map"></use>
            </svg>
            <span>Mapa klubů</span>
          </a>
        </li>
        <li class="NavFooter-item">
          <a href="#" class="NavFooter-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fanzone"></use>
            </svg>
            <span>Fanzóna</span>
          </a>
        </li>
        <li class="NavFooter-item">
          <a href="#" class="NavFooter-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#media"></use>
            </svg>
            <span>Pro média</span>
          </a>
        </li>
        <li class="NavFooter-item">
          <a href="#" class="NavFooter-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#socials"></use>
            </svg>
            <span>Sociální sítě</span>
          </a>
        </li>
        <li class="NavFooter-item">
          <a href="https://fotobanka.fotbal.cz" target="_blank" class="NavFooter-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#camera"></use>
            </svg>
            <span>Fotobanka</span>
          </a>
        </li>
        <li class="NavFooter-item">
          <a href="https://facr.tv/" class="NavFooter-link" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#tv"></use>
            </svg>
            <span>FAČR.TV</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- Socials -->
    <div class="Container u-sm-mt-24">
      <ul class="Socials" aria-label="Odkazy na sociální sítě">
        <li class="Socials-item">
          <a class="Socials-link" href="https://www.facebook.com/narodak" target="_blank" rel="noopener noreferrer" aria-label="Facebook - Fotbalová asociace České republiky" title="Facebook - Fotbalová asociace České republiky">
            <svg class="Socials-icon" xmlns="http://www.w3.org/2000/svg" width="40" height="40" focusable="false" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="Socials-item">
          <a class="Socials-link" href="https://instagram.com/ceskarepre/" target="_blank" rel="noopener noreferrer" aria-label="Instagram - Fotbalová asociace České republiky" title="Instagram - Fotbalová asociace České republiky">
            <svg class="Socials-icon" xmlns="http://www.w3.org/2000/svg" width="37" height="37" focusable="false" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="Socials-item">
          <a class="Socials-link" href="https://twitter.com/ceskarepre_cz" target="_blank" rel="noopener noreferrer" aria-label="Twitter - Fotbalová asociace České republiky" title="Twitter - Fotbalová asociace České republiky">
            <svg class="Socials-icon" xmlns="http://www.w3.org/2000/svg" width="42" height="33" focusable="false" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="Socials-item">
          <a class="Socials-link" href="https://www.youtube.com/user/ceskarepre" target="_blank" rel="noopener noreferrer" aria-label="YouTube - Fotbalová asociace České republiky" title="YouTube - Fotbalová asociace České republiky">
            <svg class="Socials-icon" xmlns="http://www.w3.org/2000/svg" width="45" height="32" focusable="false" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <!-- Copyright -->
    <div class="Container u-ta-center u-mt-40 u-sm-mt-24">
      <small class="Footer-text">&copy; 2023 Fotbalová asociace České republiky &&nbsp;<a href="https://esportsmedia.cz/" target="_blank" rel="noopener noreferrer" class="u-ws-nowrap">eSports.cz, s.r.o.</a>
      </small>
      <small class="Footer-text u-mt-4">Jakékoliv užití obsahu včetně převzetí, šíření či dalšího zpřístupňování článků a fotografií je bez výslovného souhlasu FAČR zakázáno.</small>
      <small class="Footer-text u-mt-4">
        <a href="javascript:void(0);" data-cc="c-settings" aria-haspopup="dialog">Nastavení cookies</a>
      </small>
    </div>
  </div>
</footer>