<!-- Gallery -->
<section class="Box u-mt-primary">
  <h2 class="H6">Titulek fotogalerie</h2>
  <p class="Date">12.10.2023</p>
  <div class="GalleryArticle u-mt-8 js-gallery">
    <a class="GalleryArticle-item" href="./img/placeholder-gallery-article.jpg" title="Titulek fotogalerie">
      <picture>
        <source media="(max-width: 576px)" srcset="./img/placeholder-gallery-article-thumb-mobile.jpg"/>
        <img src="./img/placeholder-gallery-article-thumb@2x.jpg" alt="" loading="lazy"/>
      </picture>
    </a>
    <a class="GalleryArticle-item" href="./img/placeholder-gallery-article.jpg" title="Titulek fotogalerie">
      <picture>
        <source media="(max-width: 576px)" srcset="./img/placeholder-gallery-article-thumb-mobile.jpg"/>
        <img src="./img/placeholder-gallery-article-thumb@2x.jpg" alt="" loading="lazy"/>
      </picture>
    </a>
    <a class="GalleryArticle-item" href="./img/placeholder-gallery-article.jpg" title="Titulek fotogalerie">
      <picture>
        <source media="(max-width: 576px)" srcset="./img/placeholder-gallery-article-thumb-mobile.jpg"/>
        <img src="./img/placeholder-gallery-article-thumb@2x.jpg" alt="" loading="lazy"/>
      </picture>
    </a>
    <a class="GalleryArticle-item" href="./img/placeholder-gallery-article.jpg" title="Titulek fotogalerie">
      <picture>
        <source media="(max-width: 576px)" srcset="./img/placeholder-gallery-article-thumb-mobile.jpg"/>
        <img src="./img/placeholder-gallery-article-thumb@2x.jpg" alt="" loading="lazy"/>
      </picture>
      <span>
        <strong>+17</strong>
        dalších fotek
      </span>
    </a>
  </div>
</section>