{# JS - async - others #}
<script src="./js/others/cookie-consent-config.js" defer="defer"></script>
<script src="./js/others/cookie-consent-social-media.js" defer="defer" type="text/plain" data-cookiecategory="social"></script>