<!-- Pagination -->
<div class="Pagination Pagination--simple u-mt-24">
  <a href="#" class="Button Button--disabled" tabindex="-1">Předchozí stránka</a>
  <a href="#" class="Button">Další stránka</a>
</div>