<!-- Pagination -->
<div class="Pagination Pagination--classic u-mt-24">
  <a href="#" class="Button Button--disabled" tabindex="-1">&lt;</a>
  <a href="#" class="Button" aria-current="page">1</a>
  <a href="#" class="Button">2</a>
  <a href="#" class="Button">3</a>
  <strong>…</strong>
  <a href="#" class="Button">1234</a>
  <a href="#" class="Button">&gt;</a>
</div>