<!-- Partners -->
<aside class="u-border-top-primary u-py-40 js-partners">
  <div class="Container u-md-px-0">
    <!-- Carousel -->
    <div class="swiper swiper--partners" id="js-carousel--partners">
      <div class="swiper-wrapper">
        <!-- Carousel - item (block of partners) -->
        <div class="swiper-slide">
          <section class="Grid Grid--md-noGutters u-align-items-center">
            <div class="Grid-col Grid-col--2 Grid-col--md-12">
              <h4 class="H9 H9--partners H9--stretched u-tt-uppercase">Oficiální partneři reprezentace</h4>
            </div>
            <div class="Grid-col Grid-col--10 Grid-col--md-12 u-md-mt-24">
              <ul class="Partners">
                <li>
                  <a href="https://eu.puma.com/cz/en/home" target="_blank" rel="noopener noreferrer" title="Puma">
                    <img src="./img/partners/puma.png?v2" width="160" height="160" alt="logo Puma" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="http://www.hyundai.cz/" target="_blank" rel="noopener noreferrer" title="Hyundai">
                    <img src="./img/partners/hyundai.png?v2" width="160" height="160" alt="logo Hyundai" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="https://www.pepsi.cz/" target="_blank" rel="noopener noreferrer" title="Pepsi">
                    <img src="./img/partners/pepsi.png?v2" width="160" height="160" alt="logo Pepsi" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="https://staropramen.cz/" target="_blank" rel="noopener noreferrer" title="Staropramen">
                    <img src="./img/partners/staropramen.png?v2" width="160" height="160" alt="logo Staropramen" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="http://lp.ifortuna.cz/fortuna-liga" target="_blank" rel="noopener noreferrer" title="Fortuna">
                    <img src="./img/partners/fortuna.png?v2" width="160" height="160" alt="logo Fortuna" loading="lazy"/>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </div>
        <!-- Carousel - item (block of partners) -->
        <div class="swiper-slide">
          <section class="Grid Grid--md-noGutters u-align-items-center">
            <div class="Grid-col Grid-col--2 Grid-col--md-12">
              <h4 class="H9 H9--partners H9--stretched u-tt-uppercase">Premium partneři reprezentace</h4>
            </div>
            <div class="Grid-col Grid-col--10 Grid-col--md-12 u-md-mt-24">
              <ul class="Partners">
                <li>
                  <a href="http://www.hormann.cz/" target="_blank" rel="noopener noreferrer" title="Hörmann">
                    <img src="./img/partners/hormann.png?v2" width="160" height="160" alt="logo Hörmann" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="https://www.cpp.cz/" target="_blank" rel="noopener noreferrer" title="Česká podnikatelská pojišťovna">
                    <img src="./img/partners/cpp.png?v2" width="160" height="160" alt="logo Česká podnikatelská pojišťovna" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="https://www.tcl.com/cz/cs" target="_blank" rel="noopener noreferrer" title="TCL">
                    <img src="./img/partners/tcl.png?v2" width="160" height="160" alt="logo TCL" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="https://www.gitschberg-jochtal.com/cz" target="_blank" rel="noopener noreferrer" title="Gitschberg Jochtal">
                    <img src="./img/partners/gitschberg_jochtal.png?v2" width="160" height="160" alt="logo Gitschberg Jochtal" loading="lazy"/>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </div>
        <!-- Carousel - item (block of partners) -->
        <div class="swiper-slide">
          <section class="Grid Grid--md-noGutters u-align-items-center">
            <div class="Grid-col Grid-col--2 Grid-col--md-12">
              <h4 class="H9 H9--partners H9--stretched u-tt-uppercase">Generální partner MOL Cupu</h4>
            </div>
            <div class="Grid-col Grid-col--10 Grid-col--md-12 u-md-mt-24">
              <ul class="Partners Partners--centered">
                <li>
                  <a href="http://molcesko.cz/cz/" target="_blank" rel="noopener noreferrer" title="MOL Česká republika, s.r.o.">
                    <img src="./img/partners/mol.png?v2" width="160" height="160" alt="logo MOL Česká republika, s.r.o." loading="lazy"/>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </div>
        <!-- Carousel - item (block of partners) -->
        <div class="swiper-slide">
          <section class="Grid Grid--md-noGutters u-align-items-center">
            <div class="Grid-col Grid-col--2 Grid-col--md-12">
              <h4 class="H9 H9--partners H9--stretched u-tt-uppercase">Mediální partneři</h4>
            </div>
            <div class="Grid-col Grid-col--10 Grid-col--md-12 u-md-mt-24">
              <ul class="Partners Partners--small">
                <li>
                  <a href="http://www.ceskatelevize.cz/" target="_blank" rel="noopener noreferrer" title="Česká televize">
                    <img src="./img/partners/ct.png" width="160" height="160" alt="logo Česká televize" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="https://www.mfdnes.cz/" target="_blank" rel="noopener noreferrer" title="MF Dnes">
                    <img src="./img/partners/dnes.png" width="160" height="160" alt="logo MF Dnes" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="http://www.impuls.cz/" target="_blank" rel="noopener noreferrer" title="Rádio Impuls">
                    <img src="./img/partners/impuls.png" width="160" height="160" alt="logo Rádio Impuls" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="http://www.denik.cz/" target="_blank" rel="noopener noreferrer" title="Deník">
                    <img src="./img/partners/denik.png" width="160" height="160" alt="logo Deník" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="http://www.idnes.cz/" target="_blank" rel="noopener noreferrer" title="iDnes">
                    <img src="./img/partners/idnes.png" width="160" height="160" alt="logo iDnes" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="http://www.gol.cz/" target="_blank" rel="noopener noreferrer" title="Gól">
                    <img src="./img/partners/gol.png" width="160" height="160" alt="logo Gól" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="https://bigmedia.cz/" target="_blank" rel="noopener noreferrer" title="Big Media">
                    <img src="./img/partners/bigmedia.png" width="160" height="160" alt="logo Big Media" loading="lazy"/>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </div>
        <!-- Carousel - item (block of partners) -->
        <div class="swiper-slide">
          <section class="Grid Grid--md-noGutters u-align-items-center">
            <div class="Grid-col Grid-col--2 Grid-col--md-12">
              <h4 class="H9 H9--partners H9--stretched u-tt-uppercase">Partneři / dodavatelé reprezentace</h4>
            </div>
            <div class="Grid-col Grid-col--10 Grid-col--md-12 u-md-mt-24">
              <ul class="Partners Partners--small">
                <li>
                  <a href="https://www.tirextyre.com/" target="_blank" rel="noopener noreferrer" title="TirexTyre">
                    <img src="./img/partners/tyres-imperial.png" width="160" height="160" alt="logo TirexTyre" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="https://www.alexandria.cz/" target="_blank" rel="noopener noreferrer" title="Alexandria">
                    <img src="./img/partners/alexandria.png" width="160" height="160" alt="logo Alexandria" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="https://fotbalservis.cz/" target="_blank" rel="noopener noreferrer" title="FOTBALservis.cz ">
                    <img src="./img/partners/fotbalservis.png" width="160" height="160" alt="logo FOTBALservis.cz " loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="http://www.vinofol.cz/" target="_blank" rel="noopener noreferrer" title="Vinofol">
                    <img src="./img/partners/vinofol.png" width="160" height="160" alt="logo Vinofol" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="http://www.cateringmelodie.cz/" target="_blank" rel="noopener noreferrer" title="Catering Melodie">
                    <img src="./img/partners/catering.png" width="160" height="160" alt="logo Catering Melodie" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="https://www.nh-collection.com/en" target="_blank" rel="noopener noreferrer" title="NH Collection Hotels">
                    <img src="./img/partners/nh-collection.png" width="160" height="160" alt="logo NH Collection Hotels" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="https://www.sportboost.cz/" target="_blank" rel="noopener noreferrer" title="NAMEDSPORT">
                    <img src="./img/partners/named-sport.png" width="160" height="160" alt="logo NAMEDSPORT" loading="lazy"/>
                  </a>
                </li>
                <li>
                  <a href="https://www.sportisimo.cz/" target="_blank" rel="noopener noreferrer" title="Sportisimo">
                    <img src="./img/partners/sportisimo.png" width="160" height="160" alt="logo Sportisimo" loading="lazy"/>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </div>
        <!-- Carousel - item (block of partners) -->
        <div class="swiper-slide">
          <section class="Grid Grid--md-noGutters u-align-items-center">
            <div class="Grid-col Grid-col--2 Grid-col--md-12">
              <h4 class="H9 H9--partners H9--stretched u-tt-uppercase">Partner sociálních projektů</h4>
            </div>
            <div class="Grid-col Grid-col--10 Grid-col--md-12 u-md-mt-24">
              <ul class="Partners Partners--centered">
                <li>
                  <a href="https://www.kapkanadeje.cz/" target="_blank" rel="noopener noreferrer" title="Kapka Naděje">
                    <img src="./img/partners/kapka-nadeje.png" width="160" height="160" alt="logo Kapka Naděje" loading="lazy"/>
                  </a>
                </li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</aside>