<!-- Side subnav -->
<aside class="SideNavContainer NotAnimOnLoad">
  <nav class="SideNav" aria-label="Navigace - {Název kategorie}" id="js-sideNav">
    <h4 class="H5 u-px-24">Název kategorie</h4>
    <ul class="SideNav-menu">
      <!-- Menu item -->
      <li class="SideNav-item">
        <a href="#" class="SideNav-link Link--inverted">Položka menu kategorie</a>
      </li>

      <!-- Menu item with collapsible submenu -->
      <li class="SideNav-item SideNav-item--hasSubMenu">
        <a href="#" class="SideNav-link js-subMenu-toggle" role="button" aria-haspopup="true" aria-expanded="false">Položka menu kategorie</a>
        <ul class="SubMenu">
          <li class="SubMenu-item">
            <a href="#" class="SubMenu-link Link--inverted">Položka submenu</a>
          </li>
          <li class="SubMenu-item">
            <a href="#" class="SubMenu-link Link--inverted">Položka submenu</a>
          </li>
          <li class="SubMenu-item">
            <a href="#" class="SubMenu-link Link--inverted">Položka submenu</a>
          </li>
        </ul>
      </li>

      <!-- Menu item - active state -->
      <li class="SideNav-item is-active">
        <a href="#" class="SideNav-link Link--inverted is-active">Aktivní položka menu kategorie</a>
      </li>

      <!-- Menu item -->
      <li class="SideNav-item">
        <a href="#" class="SideNav-link Link--inverted">Položka menu kategorie</a>
      </li>

      <!-- Menu item with collapsible submenu - active state -->
      <li class="SideNav-item SideNav-item--hasSubMenu is-active">
        <a href="#" class="SideNav-link js-subMenu-toggle is-active" role="button" aria-haspopup="true" aria-expanded="true">Aktivní položka menu kategorie se submenu</a>
        <ul class="SubMenu is-active">
          <li class="SubMenu-item">
            <a href="#" class="SubMenu-link Link--inverted">Položka submenu</a>
          </li>
          <li class="SubMenu-item">
            <a href="#" class="SubMenu-link Link--inverted">Položka submenu</a>
          </li>
          <li class="SubMenu-item">
            <a href="#" class="SubMenu-link Link--inverted is-active">Aktivní položka submenu</a>
          </li>
        </ul>
      </li>

      <!-- Menu item with collapsible submenu - active state -->
      <li class="SideNav-item SideNav-item--hasSubMenu is-active">
        <a href="#" class="SideNav-link js-subMenu-toggle is-active" role="button" aria-haspopup="true" aria-expanded="true">Aktivní položka menu kategorie se submenu</a>
        <ul class="SubMenu is-active">
          <li class="SubMenu-item">
            <a href="#" class="SubMenu-link Link--inverted">Položka submenu</a>
          </li>
          <li class="SubMenu-item">
            <a href="#" class="SubMenu-link Link--inverted">Položka submenu</a>
          </li>
          <!-- Submenu item with collapsible submenu level 2 -->
          <li class="SubMenu-item SubMenu-item--hasSubMenu">
            <a href="#" class="SubMenu-link Link--inverted js-subMenu-toggle" role="button" aria-haspopup="true" aria-expanded="false">Položka submenu se submenu 2.&nbsp;úrovně</a>
            <!-- Submenu level 2 -->
            <ul class="SubMenu">
              <li class="SubMenu-item">
                <a href="#" class="SubMenu-link Link--inverted">Položka submenu 2.&nbsp;úrovně</a>
              </li>
              <li class="SubMenu-item">
                <a href="#" class="SubMenu-link Link--inverted">Položka submenu 2.&nbsp;úrovně</a>
              </li>
              <li class="SubMenu-item">
                <a href="#" class="SubMenu-link Link--inverted">Položka submenu 2.&nbsp;úrovně</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <!-- Menu item with collapsible submenu - active state -->
      <li class="SideNav-item SideNav-item--hasSubMenu is-active">
        <a href="#" class="SideNav-link js-subMenu-toggle is-active" role="button" aria-haspopup="true" aria-expanded="true">Aktivní položka menu kategorie se submenu</a>
        <ul class="SubMenu is-active">
          <li class="SubMenu-item">
            <a href="#" class="SubMenu-link Link--inverted">Položka submenu</a>
          </li>
          <li class="SubMenu-item">
            <a href="#" class="SubMenu-link Link--inverted">Položka submenu</a>
          </li>
          <!-- Submenu item with collapsible submenu level 2 - active state -->
          <li class="SubMenu-item SubMenu-item--hasSubMenu is-active">
            <a href="#" class="SubMenu-link Link--inverted js-subMenu-toggle is-active" role="button" aria-haspopup="true" aria-expanded="true">Aktivní položka submenu se submenu 2.&nbsp;úrovně</a>
            <!-- Submenu level 2 -->
            <ul class="SubMenu is-active">
              <li class="SubMenu-item">
                <a href="#" class="SubMenu-link Link--inverted">Položka submenu 2.&nbsp;úrovně</a>
              </li>
              <li class="SubMenu-item">
                <a href="#" class="SubMenu-link Link--inverted">Položka submenu 2.&nbsp;úrovně</a>
              </li>
              <li class="SubMenu-item">
                <a href="#" class="SubMenu-link Link--inverted is-active">Aktivní položka submenu 2.&nbsp;úrovně</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      
    </ul>

   
     <div class="registration-content">
            <h5 class="H9 u-mb-16">Přihlášení do věrnostního programu  </h5>
            <form action="" class="Form Grid registrationForm">
                 
                 <div class="Grid-col Grid-col--12 u-mb-12">
                  <div class="Form-item">
                     <input type="email" maxlength="50" class="Form-input" required placeholder="Zadejte emailovou adresu">
                  </div>
                </div>
                    <div class="Grid-col Grid-col--12 u-mb-24">
                     <div class="Form-item required registrationForm-password">
                        <input type="password" maxlength="50" class="Form-input password-field" required placeholder="Zadejte heslo*">
                         <span toggle=".password-field" class="toggle-password">
                               <svg width="18" height="12" focusable="false" aria-hidden="true">
                                 <use xlink:href="#eye"></use>
                              </svg>
                           </span>
                     </div>
                   </div>
                    <div class="Grid-col Grid-col--12">
                     <div class="Form-item">
                        <input type="submit" class="Button" value="Přihlásit se">
                     </div>
                  </div>
            </form>
               <a class="u-c-blue u-my-24 u-fs-small u-lh-1 u-display-block" href="#">Zapomenuté heslo </a>
            <div class="registration-decore">
               Nebo
           </div>
           <ul class="registrationSocial">
              
               <li>
                  <a href="#" class="registrationSocial-item">
                    <img src="./img/logo-facr.svg" alt="">
                     Pokračovat s IS FAČR
                  </a>
               </li>
               <li>
                  <a href="#" class="registrationSocial-item">
                      <img src="./img/google.png" alt="">
                     Pokračovat s Google
                  </a>
               </li>
                 <li>
                  <a href="#" class="registrationSocial-item">
                      <img src="./img/fb.png" alt="">
                     Pokračovat s Facebook
                  </a>
               </li>
            </ul>
            <ul class="registration-links">
               <li>
                  <a class="u-c-blue" href="#">Registrace do věrnostního programu  </a>
               </li>
               
            </ul>
         </div>
  </nav>
</aside>
