{% extends "../templates/layout-subPage.njk" %}

{% set pageTitle = '{Název klubu} | Fotbal.cz' %}
{% set bodyClass = 'SubPage' %}

{% import "../templates/partials/_mainContentNav.njk" as mainContentNav %}
{% import "../templates/partials/_competitionNav.njk" as competitionNav %}

{% block main %}
  <!-- Main content -->
  <main class="Main" aria-label="Hlavní obsah">
    <div class="Article">
      <h1 class="H3 H3--withLogo">
        <img class="Logo" src="./img/logo-club-empty.svg" width="64" height="64" alt="logo {název klubu}" loading="lazy"/>
        <span>FK Tatran Prachatice z.s.</span>
      </h1>
      {{ mainContentNav.render(club.menu, 1) }}

      <div class="Grid">
        <div class="Grid-col Grid-col--6 Grid-col--sm-12 u-display-flex">
          <!-- Info section -->
          <section class="u-flex-basis-100p u-mt-primary">
            <h2 class="H6">Základní informace</h2>
            <div class="Box u-mt-16">
              <div class="Box-grid">
                <section>
                  <h3 class="u-display-flex u-align-items-center u-ff-primary u-fs-small u-fw-semiBold u-tt-uppercase">
                    <svg xmlns="http://www.w3.org/2000/svg" class="u-flex-shrink-0 u-mr-8" width="24" height="24" focusable="false" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#club"></use>
                    </svg>
                    <span>ID klubu a příslušnost</span>
                  </h3>
                  <ul class="u-mt-4 u-ml-32">
                    <li>3150011</li>
                    <li>
                      <a href="#">OFS Jindřichův Hradec</a>
                    </li>
                  </ul>
                </section>
                <section>
                  <h3 class="u-display-flex u-align-items-center u-ff-primary u-fs-small u-fw-semiBold u-tt-uppercase">
                    <svg xmlns="http://www.w3.org/2000/svg" class="u-flex-shrink-0 u-mr-8" width="24" height="24" focusable="false" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#address"></use>
                    </svg>
                    <span>Adresa klubu</span>
                  </h3>
                  <ul class="u-mt-4 u-ml-32">
                    <li>Vrchotovy Janovice 94</li>
                    <li>Vrchotovy Janovice</li>
                    <li>257 53</li>
                  </ul>
                </section>
              </div>
            </div>
          </section>
        </div>
        <div class="Grid-col Grid-col--6 Grid-col--sm-12 u-display-flex">
          <!-- Contact section -->
          <section class="u-flex-basis-100p u-mt-primary">
            <h2 class="H6">Kontakty</h2>
            <div class="Box u-mt-16">
              <div class="Box-grid">
                <section>
                  <h3 class="u-display-flex u-align-items-center u-ff-primary u-fs-small u-fw-semiBold u-tt-uppercase">
                    <svg xmlns="http://www.w3.org/2000/svg" class="u-flex-shrink-0 u-mr-8" width="24" height="24" focusable="false" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone"></use>
                    </svg>
                    <span>Telefon</span>
                  </h3>
                  <ul class="u-mt-4 u-ml-32">
                    <li>+420 721 310 247</li>
                    <li>+420 724 182 891</li>
                  </ul>
                </section>
                <section>
                  <h3 class="u-display-flex u-align-items-center u-ff-primary u-fs-small u-fw-semiBold u-tt-uppercase">
                    <svg xmlns="http://www.w3.org/2000/svg" class="u-flex-shrink-0 u-mr-8" width="24" height="24" focusable="false" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#web"></use>
                    </svg>
                    <span>Web</span>
                  </h3>
                  <ul class="u-mt-4 u-ml-32">
                    <li>
                      <a href="http://tatranprachatice.cz" target="_blank" rel="noopener noreferrer" class="u-break-word">tatranprachatice.cz/somelongnameofURL</a>
                    </li>
                  </ul>
                </section>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- Article widget - Competitions -->
      {% include "../templates/partials/_articleWidget-competitions.njk" %}
    </div>
  </main>
{% endblock %}
