{% extends "../templates/layout-subPage.njk" %}

{% set pageTitle = '{Název soutěže} | Fotbal.cz' %}
{% set bodyClass = 'SubPage' %}

{% import "../templates/partials/_mainContentNav.njk" as mainContentNav %}

{% block main %}
	<!-- Main content -->
	<main class="Main" aria-label="Hlavní obsah">
		<div class="Article">
			<a href="#" class="Badge u-mb-8">Jihočeský KFS</a>
			<h1 class="H3">2022 A1A - I.A třída mužů - sk."A"</h1>
			{{ mainContentNav.render(competition.menu, 1) }}

			<div class="Article-body">

				<h4>O1A - 1. Futsal liga</h4>
				<p></p>

				<table border="0" cellspacing="0" cellpadding="1" width="470">
					<tbody>
						<tr>
							<td colspan="6" class="Titulka">&nbsp;&nbsp;VÝSLEDKY</td>
						</tr>
						<tr>
							<td>
								<b>Zápas
								</b>
							</td>
							<td>
								<b>Domácí</b>
							</td>
							<td>
								<b>Hosté</b>
							</td>
							<td>
								<b>Skóre</b>
							</td>
							<td>
								<b>Diváků</b>
							</td>
							<td>
								<b>Poznámka</b>
							</td>
						</tr>

						<tr>
							<td>
								<b>O1A0402</b>
							</td>
							<td>
								<b>SKUP Olomouc</b>
							</td>
							<td>
								<b>FTZS Liberec</b>
							</td>
							<td>
								<b>2:3</b>&nbsp;<b>(1:0)</b>
							</td>
							<td>
								<b>220</b>
							</td>
							<td>
								<b></b>
							</td>
						</tr>
						<tr>
							<td colspan="6">
								<b>Branky:
								</b>Lapčík Martin, Lošťák David - Šorsák Jakub, Bína Marek, Jelínek Tomáš;
								<b>Rozhodčí:
								</b>Filipský Radim, Čuba Daniel, Havlík Přemysl;
								<b>Delegát:
								</b>Honěk Jiří;
								<b>ŽK:
								</b>Kočiš Lukáš, Šipka Jan - Žoček Jakub, Žampa Viktor, Bína Marek, Vrabec Karel (trenér);
								<b>ČK:
								</b>
								<b>0</b>
								- Vogt Dominik</td>
						</tr>

						<tr>
							<td>
								<b>O1A0403</b>
							</td>
							<td>
								<b>Rapid Ústí n. L.</b>
							</td>
							<td>
								<b>SK Olympik Mělník</b>
							</td>
							<td>
								<b>10:1</b>&nbsp;<b>(5:1)</b>
							</td>
							<td>
								<b>256</b>
							</td>
							<td>
								<b></b>
							</td>
						</tr>
						<tr>
							<td colspan="6">
								<b>Branky:
								</b>Zápotocký Jaroslav  3, Zápotocký Jiří  2, Gajdoš Martin  2, Novák Jaroslav, Vondrka Matěj, Vobořil Tomáš - Vokoun Jiří;
								<b>Rozhodčí:
								</b>Vlašič Miroslav, Lasch Jiří, Vlašič Jiří;
								<b>Delegát:
								</b>Poppr Zbyněk</td>
						</tr>

						<tr>
							<td>
								<b>O1A0404</b>
							</td>
							<td>
								<b>Žab. Vlci Brno</b>
							</td>
							<td>
								<b>Helas Brno</b>
							</td>
							<td>
								<b>2:5</b>&nbsp;<b>(1:2)</b>
							</td>
							<td>
								<b>272</b>
							</td>
							<td>
								<b></b>
							</td>
						</tr>
						<tr>
							<td colspan="6">
								<b>Branky:
								</b>Kratochvíl Michal, Ryšavý Vlastimil - Zdráhal Martin  3, Havel Jan, Poul Tomáš;
								<b>Rozhodčí:
								</b>Gasnárek Michal, Šenkýř Petr, Štipčák Martin;
								<b>Delegát:
								</b>Hulcký Zdeněk;
								<b>ŽK:
								</b>
								<b>0</b>
								- Zdráhal Martin, Poul Tomáš</td>
						</tr>

						<tr>
							<td>
								<b>O1A0406</b>
							</td>
							<td>
								<b>FK Chrudim</b>
							</td>
							<td>
								<b>SK Slavia Praha</b>
							</td>
							<td>
								<b>6:3</b>&nbsp;<b>(3:2)</b>
							</td>
							<td>
								<b>237</b>
							</td>
							<td>
								<b></b>
							</td>
						</tr>
						<tr>
							<td colspan="6">
								<b>Branky:
								</b>Drozd David  2, Drozd Pavel  2, André-Sasse Luis  2 - Míča Ondřej  2, Křemen Jan;
								<b>Rozhodčí:
								</b>Rygl Luboš, Gasnárek Michal, Kabeláč Martin;
								<b>Delegát:
								</b>Bednář Kamil;
								<b>ŽK:
								</b>Koudelka Tomáš, Slováček Matěj - Sandetskyi Denys, Havrda Filip, Kuchta Tomáš, Hrdina Antonín</td>
						</tr>

						<tr>
							<td>
								<b>O1A0401</b>
							</td>
							<td>
								<b>Oxyworld Baník Chomutov</b>
							</td>
							<td>
								<b>Intern. FC Kadaň</b>
							</td>
							<td>
								<b>8:6</b>&nbsp;<b>(2:3)</b>
							</td>
							<td>
								<b>478</b>
							</td>
							<td>
								<b></b>
							</td>
						</tr>
						<tr>
							<td colspan="6">
								<b>Branky:
								</b>Gedeon Filip  2, Doleček Daniil  2, Schreiner Filip  2, Vlastní (Japa), Jelínek Radek - Milovac Stojan  2, Caio-Cardeal De Jesus C.  2, Maur Matěj, Holman Jaroslav;
								<b>ŽK:
								</b>Doleček Daniil, Gedeon Filip - Vitinho-Cardeal Victor, Japa-Matsumoto Luiz, Salák Michal, Milovac Stojan;
								<b>ČK:
								</b>
								<b>0</b>
								- Vitinho-Cardeal Victor</td>
						</tr>

					</tbody>
				</table>
				<br><br>

				<table border="0" cellspacing="0" cellpadding="1" width="470">
					<tbody>
						<tr>
							<td colspan="10" class="Titulka">&nbsp;&nbsp;TABULKA</td>
						</tr>
						<tr>
							<td>
								<b>Rk.
								</b>
							</td>
							<td>
								<b>Tým</b>
							</td>
							<td>
								<b>Záp</b>
							</td>
							<td>
								<b>+</b>
							</td>
							<td>
								<b>0</b>
							</td>
							<td>
								<b>-</b>
							</td>
							<td>
								<b>Skóre</b>
							</td>
							<td>
								<b>Body</b>
							</td>
							<td>
								<b>PK</b>
							</td>
							<td>
								<b>(Prav)</b>
							</td>
						</tr>

						<tr>
							<td>1.</td>
							<td>Helas Brno</td>
							<td>4</td>
							<td>4</td>
							<td>0</td>
							<td>0</td>
							<td>
								20: 10</td>
							<td>12</td>
							<td></td>
							<td>(  6)</td>
						</tr>

						<tr>
							<td>2.</td>
							<td>SK Interobal Plzeň</td>
							<td>3</td>
							<td>3</td>
							<td>0</td>
							<td>0</td>
							<td>
								26:  2</td>
							<td>9</td>
							<td></td>
							<td>(  3)</td>
						</tr>

						<tr>
							<td>3.</td>
							<td>FK Chrudim</td>
							<td>4</td>
							<td>3</td>
							<td>0</td>
							<td>1</td>
							<td>
								25: 11</td>
							<td>9</td>
							<td></td>
							<td>(  3)</td>
						</tr>

						<tr>
							<td>4.</td>
							<td>SK Slavia Praha</td>
							<td>4</td>
							<td>2</td>
							<td>0</td>
							<td>2</td>
							<td>
								17: 10</td>
							<td>6</td>
							<td></td>
							<td>(  0)</td>
						</tr>

						<tr>
							<td>5.</td>
							<td>SK Olympik Mělník</td>
							<td>4</td>
							<td>2</td>
							<td>0</td>
							<td>2</td>
							<td>
								25: 23</td>
							<td>6</td>
							<td></td>
							<td>(  0)</td>
						</tr>

						<tr>
							<td>6.</td>
							<td>Intern. FC Kadaň</td>
							<td>4</td>
							<td>2</td>
							<td>0</td>
							<td>2</td>
							<td>
								24: 23</td>
							<td>6</td>
							<td></td>
							<td>(  0)</td>
						</tr>

						<tr>
							<td>7.</td>
							<td>Oxyworld Baník Chomutov</td>
							<td>4</td>
							<td>2</td>
							<td>0</td>
							<td>2</td>
							<td>
								18: 40</td>
							<td>6</td>
							<td></td>
							<td>(  0)</td>
						</tr>

						<tr>
							<td>8.</td>
							<td>Rapid Ústí n. L.</td>
							<td>3</td>
							<td>1</td>
							<td>0</td>
							<td>2</td>
							<td>
								10: 11</td>
							<td>3</td>
							<td></td>
							<td>(  0)</td>
						</tr>

						<tr>
							<td>9.</td>
							<td>FTZS Liberec</td>
							<td>4</td>
							<td>1</td>
							<td>0</td>
							<td>3</td>
							<td>
								17: 28</td>
							<td>3</td>
							<td></td>
							<td>(  3)</td>
						</tr>

						<tr>
							<td>10.</td>
							<td>SKUP Olomouc</td>
							<td>3</td>
							<td>0</td>
							<td>0</td>
							<td>3</td>
							<td>
								9: 18</td>
							<td>0</td>
							<td></td>
							<td>( -6)</td>
						</tr>

						<tr>
							<td>11.</td>
							<td>Žab. Vlci Brno</td>
							<td>3</td>
							<td>0</td>
							<td>0</td>
							<td>3</td>
							<td>
								4: 19</td>
							<td>0</td>
							<td></td>
							<td>( -9)</td>
						</tr>

					</tbody>
				</table>
				<br><br>

				Družstvu Rapid Ústí n. L. bude odebráno bodů: 2<br>
				<br>

				<table border="0" cellspacing="0" cellpadding="1" width="470">
					<tbody>
						<tr>
							<td colspan="6" class="Titulka">&nbsp;&nbsp;NÁSLEDUJÍCÍ KOLO</td>
						</tr>
						<tr>
							<td>
								<b>Zápas
								</b>
							</td>
							<td>
								<b>Domácí</b>
							</td>
							<td>
								<b>Hosté</b>
							</td>
							<td>
								<b>Termín</b>
							</td>
							<td>
								<b>Den</b>
							</td>
							<td>
								<b>Hřiště</b>
							</td>
						</tr>

						<tr>
							<td>O1A0504</td>
							<td>SK Olympik Mělník</td>
							<td>Žab. Vlci Brno</td>
							<td>20.10. 20:00</td>
							<td>PÁ</td>
							<td>SH Gymnázium, Mělník</td>
						</tr>

						<tr>
							<td>O1A0505</td>
							<td>FTZS Liberec</td>
							<td>Rapid Ústí n. L.</td>
							<td>22.10. 19:30</td>
							<td>NE</td>
							<td>SH Dukla Liberec</td>
						</tr>

						<tr>
							<td>O1A0506</td>
							<td>Intern. FC Kadaň</td>
							<td>SKUP Olomouc</td>
							<td>22.10. 18:00</td>
							<td>NE</td>
							<td>MSH Kadaň</td>
						</tr>

						<tr>
							<td>O1A0501</td>
							<td>SK Slavia Praha</td>
							<td>Oxyworld Baník Chomutov</td>
							<td>23.10. 20:00</td>
							<td>PO</td>
							<td>SH SK Slavia Praha, Eden</td>
						</tr>

						<tr>
							<td>O1A0603</td>
							<td>Žab. Vlci Brno</td>
							<td>FTZS Liberec</td>
							<td>27.10. 20:00</td>
							<td>PÁ</td>
							<td>MSH Modřice</td>
						</tr>

						<tr>
							<td>O1A0605</td>
							<td>FK Chrudim</td>
							<td>Helas Brno</td>
							<td>28.10. 18:00</td>
							<td>SO</td>
							<td>SH Heřmanův Městec</td>
						</tr>

						<tr>
							<td>O1A0601</td>
							<td>Oxyworld Baník Chomutov</td>
							<td>SKUP Olomouc</td>
							<td>29.10. 19:00</td>
							<td>NE</td>
							<td>MSH Baník Chomutov</td>
						</tr>

						<tr>
							<td>O1A0602</td>
							<td>Rapid Ústí n. L.</td>
							<td>Intern. FC Kadaň</td>
							<td>30.10. 19:00</td>
							<td>PO</td>
							<td>SH Chemik Lovosice</td>
						</tr>

						<tr>
							<td>O1A0703</td>
							<td>SK Olympik Mělník</td>
							<td>FK Chrudim</td>
							<td>03.11. 20:00</td>
							<td>PÁ</td>
							<td>SH Gymnázium, Mělník</td>
						</tr>

						<tr>
							<td>O1A0706</td>
							<td>SKUP Olomouc</td>
							<td>Rapid Ústí n. L.</td>
							<td>03.11. 20:30</td>
							<td>PÁ</td>
							<td>SH Velká Bystřice</td>
						</tr>

						<tr>
							<td>O1A0704</td>
							<td>FTZS Liberec</td>
							<td>SK Interobal Plzeň</td>
							<td>05.11. 20:00</td>
							<td>NE</td>
							<td>SH Dukla Liberec</td>
						</tr>

						<tr>
							<td>O1A0705</td>
							<td>Intern. FC Kadaň</td>
							<td>Žab. Vlci Brno</td>
							<td>05.11. 18:00</td>
							<td>NE</td>
							<td>MSH Kadaň</td>
						</tr>

						<tr>
							<td>O1A0702</td>
							<td>Helas Brno</td>
							<td>SK Slavia Praha</td>
							<td>06.11. 19:30</td>
							<td>PO</td>
							<td>STAREZ Aréna Vodova</td>
						</tr>

						<tr>
							<td>O1A0803</td>
							<td>SK Interobal Plzeň</td>
							<td>Intern. FC Kadaň</td>
							<td>10.11. 19:00</td>
							<td>PÁ</td>
							<td>SH Lokomotiva Plzeň</td>
						</tr>

						<tr>
							<td>O1A0805</td>
							<td>SK Slavia Praha</td>
							<td>SK Olympik Mělník</td>
							<td>10.11. 20:00</td>
							<td>PÁ</td>
							<td>SH SK Slavia Praha, Eden</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</main>
{% endblock %}
