{% extends "../templates/layout-subPage.njk" %}

{% set pageTitle = '{Repre - detail zápasu} | Fotbal.cz' %}
{% set bodyClass = 'SubPage' %}

{% block main %}
  <!-- Main content -->
  <main class="Main" aria-label="Hlavní obsah">

    {% include "../templates/partials/_breadcrumbs.njk" %}
   <h1 class="H3">
    Osobní údaje
   </h1>
   
  </main>
{% endblock %}
