{% extends "../templates/layout-subPageWithoutNav.njk" %}

{% set pageTitle = 'forgot-password | Fotbal.cz' %}
{% set bodyClass = 'SubPage SubPage--withoutNav' %}

{% block vendorsJS %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock %}

{% block main %}
  <!-- Main content -->
  <main class="Main" aria-label="Hlavní obsah">
    <div class="Container">
     <div class="registration-wrapper u-mx-auto">
      {% include "../templates/partials/_breadcrumbs.njk" %}
      <div class="registration-modal u-mt-primary u-mx-auto">
         <div class="registration-content u-mx-auto">
            <h1 class="H3 u-mb-24">Zapomenuté heslo  </h1>
            <form action="" class="Form Grid registrationForm">
                 
                 <div class="Grid-col Grid-col--12 u-mb-12">
                  <div class="Form-item">
                     <input type="email" maxlength="50" class="Form-input" required placeholder="Zadejte emailovou adresu">
                  </div>
                </div>
                    <div class="Grid-col Grid-col--12 u-mb-12">
                     <div class="Form-item required registrationForm-password">
                        <input type="password" maxlength="50" class="Form-input password-field" required placeholder="Zadejte heslo*">
                         <span toggle=".password-field" class="toggle-password">
                               <svg width="18" height="12" focusable="false" aria-hidden="true">
                                 <use xlink:href="#eye"></use>
                              </svg>
                           </span>
                     </div>
                   </div>
                     <div class="Grid-col Grid-col--12 u-mb-24">
                     <div class="Form-item required registrationForm-password">
                        <input type="password" maxlength="50" class="Form-input password-field" required placeholder="Potvrďte heslo*">
                          <span toggle=".password-field" class="toggle-password">
                               <svg width="18" height="12" focusable="false" aria-hidden="true">
                                 <use xlink:href="#eye"></use>
                              </svg>
                           </span>
                     </div>
                  </div>
                    <div class="Grid-col Grid-col--12">
                     <div class="Form-item">
                        <input type="submit" class="Button" value="Změnit heslo">
                     </div>
                  </div>
            </form>
            <ul class="registration-links">
               <li>
                  <a href="#">Podmínky používání</a>
               </li>
               <li>
                  <a href="#">Zásady ochrany soukromí</a>
               </li>
            </ul>
         </div>
      </div>
     </div>
    </div>
  </main>
{% endblock %}