{% extends "../templates/layout-subPageWithoutNav.njk" %}

{% set pageTitle = 'Fotbal TV | Fotbal.cz' %}
{% set bodyClass = 'SubPage SubPage--withoutNav' %}

{% block vendorsJS %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock %}

{% block main %}
  <!-- Main content -->
  <main class="Main" aria-label="Hlavní obsah">
    <div class="Container">
       <div class="u-display-flex u-align-items-center  u-flex-center u-justify-space-between u-mb-24">
       <a href="#" class="Link--inverted"> <h1 class="H2">FotbalTV  </h1></a>
         
          <div class="fotbaltv-calendar">
            <label for="frm-officialBoardFilter-form-from" class="Form-label">
                       <div class="ToTopButton">
                        <svg width="24" height="24" focusable="false" aria-hidden="true">
                          <use xlink:href="#calendartv"></use>
                        </svg>
                      </div>
            </label>
            <input type="text" name="from" data-dateinput-type="date" class="Form-input js-datePicker flatpickr-input" id="frm-officialBoardFilter-form-from" readonly="readonly">
          </div>
       
      </div>
      <div class="fotbaltv-slider u-mb-40">
    <div class="swiper-button-prev ToTopButton" data-aria-label="Previous">
        <svg width="24" height="24" focusable="false" aria-hidden="true">
            <use xlink:href="#arrow-left"></use>
        </svg>
    </div>
    <div class="swiper-button-next ToTopButton" data-aria-label="Next">
        <svg width="24" height="24" focusable="false" aria-hidden="true">
            <use xlink:href="#arrow-right"></use>
        </svg>
    </div>
    <div class="swiper" id="swiper-fotbal">
           <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-10" class="fotbaltv-slider__item ">
                <div class="H6">10. 2. po</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-11" class="fotbaltv-slider__item ">
                <div class="H6">11. 2. út</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-12" class="fotbaltv-slider__item ">
                <div class="H6">12. 2. st</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-13" class="fotbaltv-slider__item ">
                <div class="H6">13. 2. čt</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-14" class="fotbaltv-slider__item ">
                <div class="H6">14. 2. pá</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    1
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-15" class="fotbaltv-slider__item ">
                <div class="H6">15. 2. so</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-16" class="fotbaltv-slider__item ">
                <div class="H6">16. 2. ne</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-17" class="fotbaltv-slider__item ">
                <div class="H6">17. 2. po</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-18" class="fotbaltv-slider__item ">
                <div class="H6">18. 2. út</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-19" class="fotbaltv-slider__item ">
                <div class="H6">19. 2. st</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-20" class="fotbaltv-slider__item ">
                <div class="H6">20. 2. čt</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-21" class="fotbaltv-slider__item ">
                <div class="H6">21. 2. pá</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-22" class="fotbaltv-slider__item ">
                <div class="H6">22. 2. so</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-23" class="fotbaltv-slider__item ">
                <div class="H6">23. 2. ne</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-24" class="fotbaltv-slider__item ">
                <div class="H6">24. 2. po</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-25" class="fotbaltv-slider__item ">
                <div class="H6">25. 2. út</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-26" class="fotbaltv-slider__item ">
                <div class="H6">26. 2. st</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    1
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-27" class="fotbaltv-slider__item fotbaltv-slider__item--grey">
                <div class="H6">27. 2. čt</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-02-28" class="fotbaltv-slider__item ">
                <div class="H6">28. 2. pá</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-01" class="fotbaltv-slider__item ">
                <div class="H6">1. 3. so</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    4
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-02" class="fotbaltv-slider__item ">
                <div class="H6">2. 3. ne</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    5
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-03" class="fotbaltv-slider__item ">
                <div class="H6">3. 3. po</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-04" class="fotbaltv-slider__item ">
                <div class="H6">4. 3. út</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-05" class="fotbaltv-slider__item ">
                <div class="H6">5. 3. st</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-06" class="fotbaltv-slider__item ">
                <div class="H6">6. 3. čt</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-07" class="fotbaltv-slider__item ">
                <div class="H6">7. 3. pá</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    3
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-08" class="fotbaltv-slider__item ">
                <div class="H6">8. 3. so</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    45
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-09" class="fotbaltv-slider__item ">
                <div class="H6">9. 3. ne</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    28
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-10" class="fotbaltv-slider__item ">
                <div class="H6">10. 3. po</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-11" class="fotbaltv-slider__item ">
                <div class="H6">11. 3. út</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-12" class="fotbaltv-slider__item ">
                <div class="H6">12. 3. st</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-13" class="fotbaltv-slider__item ">
                <div class="H6">13. 3. čt</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-14" class="fotbaltv-slider__item ">
                <div class="H6">14. 3. pá</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    1
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-15" class="fotbaltv-slider__item ">
                <div class="H6">15. 3. so</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    49
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-16" class="fotbaltv-slider__item ">
                <div class="H6">16. 3. ne</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    26
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-17" class="fotbaltv-slider__item ">
                <div class="H6">17. 3. po</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-18" class="fotbaltv-slider__item ">
                <div class="H6">18. 3. út</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-19" class="fotbaltv-slider__item ">
                <div class="H6">19. 3. st</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-20" class="fotbaltv-slider__item ">
                <div class="H6">20. 3. čt</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    0
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-21" class="fotbaltv-slider__item ">
                <div class="H6">21. 3. pá</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    4
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-22" class="fotbaltv-slider__item ">
                <div class="H6">22. 3. so</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    51
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="/tv/?date=2025-03-23" class="fotbaltv-slider__item ">
                <div class="H6">23. 3. ne</div>
                <ul class="fotbaltvItem-term">
                  <li class="fotbaltvItem-term--future">
                    21
                  </li>
                  <li class="fotbaltvItem-term--live">
                    0
                  </li>
                  <li class="fotbaltvItem-term--finished">
                    0
                  </li>
                </ul>
              </a>
            </div>
          </div>
    </div>
</div>


        
       <div class="Banner   u-my-40">
        <a href="#" target="_blank" rel="noopener noreferrer"  >
          <img class="u-mx-auto" src="./img/placeholder-banner-wide@3x.jpg" width="1040" height="88" alt="{Popis obrázku / Název banneru}" loading="lazy"/>
        </a>
      </div>

      
      <h2 class="H6 u-mb-16">
        Sobota 21. 9. 2024
      </h2>
      <div class="Box u-mb-40">
        <!-- Filters -->
        <form class="Form Form--secondary Form--3inputs" action="" method="post">
          <div class="Form-item">
            <label class="Form-label" for="">SOUTĚŽ</label>
            <input class="Form-input" type="text" name="" id="" placeholder="Zadejte název soutěže  "/>
          </div>
           <div class="Form-item">
            <label class="Form-label" for="">KLUB</label>
            <input class="Form-input" type="text" name="" id="" placeholder="Zadejte název klubu      "/>
          </div>
          <div class="Form-item">
            <label class="Form-label" for="">  TYP</label>
            <select class="Select" name="" id="">
              <option value="">Vše</option>
              <option value="">Muži</option>
              <option value="">Děti (mládež)</option>
              <option value="">Ženy</option>
              <option value="">Futsal</option>
              <option value="">Plážový fotbal</option>
            </select>
          </div>
          <div class="Form-item">
            <button type="submit" class="Button  u-ml-auto u-display-block">Zobrazit  </button>
            <a href="/tv/?date=2025-03-02" class="Button u-ml-auto u-display-block">Vymazat filtry</a>
          </div>
        </form>
      </div>
      <ul class="u-display-flex u-gap-8 u-flex-wrap u-mb-40">
        <li>
            <a href="#" class="ButtonNav-link">
              Všechny zápasy
            </a>
        </li>
        <li>
            <a href="#" class="ButtonNav-link  ButtonNav-link--red">
            Probíhající
            </a>
        </li>
        <li>
            <a href="#" class="ButtonNav-link ButtonNav-link--grey">
              Budoucí
            </a>
        </li>
        <li>
            <a href="#" class="ButtonNav-link ButtonNav-link--black">
              Skončené
            </a>
        </li>
      </ul>
      
     <div class="u-mb-40">
        <div class="fotbaltvItem">
          
          <div class="fotbaltvItem__row">
            <a href="#" class="ButtonNav-link">
                  Jindřichův Hradec
            </a>
            <h3 class="H6">
                Český trávník s.r.o. OP mužů - 8. liga
              </h3>
              <ul class="fotbaltvItem-term">
                 
                <li class="fotbaltvItem-term--finished">
                  3
                </li>
              </ul>
          </div>
          <div class="ToTopButton  ">
            <svg width="24" height="24" focusable="false" aria-hidden="true">
              <use xlink:href="#chevron-tv"></use>
            </svg>
          </div>
           <a href="#" class="fotbaltvItem__link  js-subMenu-toggle" role="button" aria-haspopup="true" aria-expanded="true"></a>
          <ul class="fotbaltvItem-wrapper">
            <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    pá 21. 2. 2025, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--draw">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 22. 2. 2025, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result  ">3:3</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--win">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    ne 23. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result ">3:1</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
             
          
          </ul>
      </div>
           <div class="fotbaltvItem">
          
          <div class="fotbaltvItem__row">
            <a href="#" class="ButtonNav-link">
                  Jindřichův Hradec
            </a>
            <h3 class="H6">
                Český trávník s.r.o. OP mužů - 8. liga
              </h3>
              <ul class="fotbaltvItem-term">
                 
                <li class="fotbaltvItem-term--finished">
                  3
                </li>
              </ul>
          </div>
          <div class="ToTopButton  ">
            <svg width="24" height="24" focusable="false" aria-hidden="true">
              <use xlink:href="#chevron-tv"></use>
            </svg>
          </div>
           <a href="#" class="fotbaltvItem__link  js-subMenu-toggle" role="button" aria-haspopup="true" aria-expanded="true"></a>
          <ul class="fotbaltvItem-wrapper">
            <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--draw">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result  ">3:3</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--win">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result ">3:1</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
          </ul>
      </div>
           <div class="fotbaltvItem">
          
          <div class="fotbaltvItem__row">
            <a href="#" class="ButtonNav-link">
                  Jindřichův Hradec
            </a>
            <h3 class="H6">
                Český trávník s.r.o. OP mužů - 8. liga
              </h3>
              <ul class="fotbaltvItem-term">
                 
                <li class="fotbaltvItem-term--finished">
                  3
                </li>
              </ul>
          </div>
          <div class="ToTopButton  ">
            <svg width="24" height="24" focusable="false" aria-hidden="true">
              <use xlink:href="#chevron-tv"></use>
            </svg>
          </div>
           <a href="#" class="fotbaltvItem__link  js-subMenu-toggle" role="button" aria-haspopup="true" aria-expanded="true"></a>
          <ul class="fotbaltvItem-wrapper">
            <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--draw">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result  ">3:3</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--win">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result ">3:1</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
          </ul>
      </div>
           <div class="fotbaltvItem">
          
          <div class="fotbaltvItem__row">
            <a href="#" class="ButtonNav-link">
                  Jindřichův Hradec
            </a>
            <h3 class="H6">
                Český trávník s.r.o. OP mužů - 8. liga
              </h3>
              <ul class="fotbaltvItem-term">
                 
                <li class="fotbaltvItem-term--finished">
                  3
                </li>
              </ul>
          </div>
          <div class="ToTopButton  ">
            <svg width="24" height="24" focusable="false" aria-hidden="true">
              <use xlink:href="#chevron-tv"></use>
            </svg>
          </div>
           <a href="#" class="fotbaltvItem__link  js-subMenu-toggle" role="button" aria-haspopup="true" aria-expanded="true"></a>
          <ul class="fotbaltvItem-wrapper">
            <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--draw">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result  ">3:3</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--win">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result ">3:1</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
          </ul>
      </div>
         
         
       
         <div class="fotbaltvItem">
          <div class="fotbaltvItem__row">
            <a href="#" class="ButtonNav-link  ">
                  Jindřichův Hradec
            </a>
            <h3 class="H6">
                Český trávník s.r.o. OP mužů - 8. liga
              </h3>
              <ul class="fotbaltvItem-term">
                <li class="fotbaltvItem-term--future">
                  2
                </li>
                <li class="fotbaltvItem-term--live">
                  4
                </li>
                <li class="fotbaltvItem-term--finished">
                  3
                </li>
              </ul>
          </div>
          <div class="ToTopButton">
            <svg width="24" height="24" focusable="false" aria-hidden="true">
              <use xlink:href="#chevron-tv"></use>
            </svg>
          </div>
           <a href="#" class="fotbaltvItem__link  js-subMenu-toggle" role="button" aria-haspopup="true" aria-expanded="true"></a>
          <ul class="fotbaltvItem-wrapper">
            <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--draw">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result  ">3:3</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--win">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result ">3:1</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
          </ul>
      </div>
        
     
     </div>

     

      {% include "../templates/partials/_pagination.njk" %}
    </div>
  </main>
{% endblock %}