{% extends "../templates/layout-subPageWithoutNav.njk" %}

{% set pageTitle = 'Fotbal TV | Fotbal.cz' %}
{% set bodyClass = 'SubPage SubPage--withoutNav' %}

{% block vendorsJS %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
{% endblock %}

{% block main %}
  <!-- Main content -->
  <main class="Main" aria-label="Hlavní obsah">
    <div class="Container">
       <div class="u-display-flex u-align-items-center  u-flex-center u-justify-space-between u-mb-24">
       <a href="#" class="Link--inverted"> <h1 class="H2">FotbalTV  </h1></a>
         
          <div class="fotbaltv-calendar">
            <label for="frm-officialBoardFilter-form-from" class="Form-label">
                       <div class="ToTopButton">
                        <svg width="24" height="24" focusable="false" aria-hidden="true">
                          <use xlink:href="#calendartv"></use>
                        </svg>
                      </div>
            </label>
            <input type="text" name="from" data-dateinput-type="date" class="Form-input js-datePicker flatpickr-input" id="frm-officialBoardFilter-form-from" readonly="readonly">
          </div>
       
      </div>
      <div class="fotbaltv-slider u-mb-40">
    <div class="swiper-button-prev ToTopButton" data-aria-label="Previous">
        <svg width="24" height="24" focusable="false" aria-hidden="true">
            <use xlink:href="#arrow-left"></use>
        </svg>
    </div>
    <div class="swiper-button-next ToTopButton" data-aria-label="Next">
        <svg width="24" height="24" focusable="false" aria-hidden="true">
            <use xlink:href="#arrow-right"></use>
        </svg>
    </div>
    <div class="swiper" id="swiper-fotbal">
        <div class="swiper-wrapper">
           
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">po 27. 1.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">1</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">út 28. 1.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">0</li>
                        <li class="fotbaltvItem-term--live">3</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">st 29. 1.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">čt 30. 1.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">1</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">pá 31. 1.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">3</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>

            <!-- Začátek února -->
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">so 1. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">1</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">ne 2. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">3</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">po 3. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">0</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">út 4. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">st 5. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">1</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">čt 6. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">pá 7. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">1</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">so 8. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">ne 9. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">0</li>
                        <li class="fotbaltvItem-term--live">4</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
                        <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">po 10. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">3</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">út 11. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">1</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">st 12. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">0</li>
                        <li class="fotbaltvItem-term--live">4</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">čt 13. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">1</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">pá 14. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">so 15. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">ne 16. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">0</li>
                        <li class="fotbaltvItem-term--live">4</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">po 17. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">1</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">út 18. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">3</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">st 19. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">čt 20. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">pá 21. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">1</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">so 22. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">ne 23. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">0</li>
                        <li class="fotbaltvItem-term--live">4</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">po 24. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">1</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">út 25. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">3</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">st 26. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">čt 27. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">1</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">pá 28. 2.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">so 1. 3.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">1</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">ne 2. 3.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">po 3. 3.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">0</li>
                        <li class="fotbaltvItem-term--live">4</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">út 4. 3.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">1</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">st 5. 3.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">3</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">čt 6. 3.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">1</li>
                        <li class="fotbaltvItem-term--live">2</li>
                        <li class="fotbaltvItem-term--finished">3</li>
                    </ul>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="fotbaltv-slider__item">
                    <div class="H6">pá 7. 3.</div>
                    <ul class="fotbaltvItem-term">
                        <li class="fotbaltvItem-term--future">2</li>
                        <li class="fotbaltvItem-term--live">1</li>
                        <li class="fotbaltvItem-term--finished">2</li>
                    </ul>
                </a>
            </div>

        </div>
    </div>
</div>


        
       <div class="Banner   u-my-40">
        <a href="#" target="_blank" rel="noopener noreferrer"  >
          <img class="u-mx-auto" src="./img/placeholder-banner-wide@3x.jpg" width="1040" height="88" alt="{Popis obrázku / Název banneru}" loading="lazy"/>
        </a>
      </div>

      
      <h2 class="H6 u-mb-16">
        Sobota 21. 9. 2024
      </h2>
      <div class="Box u-mb-40">
        <!-- Filters -->
        <form class="Form Form--secondary Form--3inputs" action="" method="post">
          <div class="Form-item">
            <label class="Form-label" for="">SOUTĚŽ</label>
            <input class="Form-input" type="text" name="" id="" placeholder="Zadejte název soutěže  "/>
          </div>
           <div class="Form-item">
            <label class="Form-label" for="">KLUB</label>
            <input class="Form-input" type="text" name="" id="" placeholder="Zadejte název klubu      "/>
          </div>
          <div class="Form-item">
            <label class="Form-label" for="">  TYP</label>
            <select class="Select" name="" id="">
              <option value="">Vše</option>
              <option value="">Muži</option>
              <option value="">Děti (mládež)</option>
              <option value="">Ženy</option>
              <option value="">Futsal</option>
              <option value="">Plážový fotbal</option>
            </select>
          </div>
          <div class="Form-item">
            <button type="submit" class="Button  u-ml-auto u-display-block">Zobrazit  </button>
          </div>
        </form>
      </div>
      <ul class="u-display-flex u-gap-8 u-flex-wrap u-mb-40">
        <li>
            <a href="#" class="ButtonNav-link">
              Všechny zápasy
            </a>
        </li>
        <li>
            <a href="#" class="ButtonNav-link  ButtonNav-link--red">
            Probíhající
            </a>
        </li>
        <li>
            <a href="#" class="ButtonNav-link ButtonNav-link--grey">
              Budoucí
            </a>
        </li>
        <li>
            <a href="#" class="ButtonNav-link ButtonNav-link--black">
              Skončené
            </a>
        </li>
      </ul>
      
     <div class="u-mb-40">
        <div class="fotbaltvItem">
          
          <div class="fotbaltvItem__row">
            <a href="#" class="ButtonNav-link">
                  Jindřichův Hradec
            </a>
            <h3 class="H6">
                Český trávník s.r.o. OP mužů - 8. liga
              </h3>
              <ul class="fotbaltvItem-term">
                 
                <li class="fotbaltvItem-term--finished">
                  3
                </li>
              </ul>
          </div>
          <div class="ToTopButton  ">
            <svg width="24" height="24" focusable="false" aria-hidden="true">
              <use xlink:href="#chevron-tv"></use>
            </svg>
          </div>
           <a href="#" class="fotbaltvItem__link  js-subMenu-toggle" role="button" aria-haspopup="true" aria-expanded="true"></a>
          <ul class="fotbaltvItem-wrapper">
            <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    pá 21. 2. 2025, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--draw">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 22. 2. 2025, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result  ">3:3</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--win">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    ne 23. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result ">3:1</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
             
          
          </ul>
      </div>
           <div class="fotbaltvItem">
          
          <div class="fotbaltvItem__row">
            <a href="#" class="ButtonNav-link">
                  Jindřichův Hradec
            </a>
            <h3 class="H6">
                Český trávník s.r.o. OP mužů - 8. liga
              </h3>
              <ul class="fotbaltvItem-term">
                 
                <li class="fotbaltvItem-term--finished">
                  3
                </li>
              </ul>
          </div>
          <div class="ToTopButton  ">
            <svg width="24" height="24" focusable="false" aria-hidden="true">
              <use xlink:href="#chevron-tv"></use>
            </svg>
          </div>
           <a href="#" class="fotbaltvItem__link  js-subMenu-toggle" role="button" aria-haspopup="true" aria-expanded="true"></a>
          <ul class="fotbaltvItem-wrapper">
            <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--draw">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result  ">3:3</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--win">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result ">3:1</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
          </ul>
      </div>
           <div class="fotbaltvItem">
          
          <div class="fotbaltvItem__row">
            <a href="#" class="ButtonNav-link">
                  Jindřichův Hradec
            </a>
            <h3 class="H6">
                Český trávník s.r.o. OP mužů - 8. liga
              </h3>
              <ul class="fotbaltvItem-term">
                 
                <li class="fotbaltvItem-term--finished">
                  3
                </li>
              </ul>
          </div>
          <div class="ToTopButton  ">
            <svg width="24" height="24" focusable="false" aria-hidden="true">
              <use xlink:href="#chevron-tv"></use>
            </svg>
          </div>
           <a href="#" class="fotbaltvItem__link  js-subMenu-toggle" role="button" aria-haspopup="true" aria-expanded="true"></a>
          <ul class="fotbaltvItem-wrapper">
            <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--draw">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result  ">3:3</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--win">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result ">3:1</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
          </ul>
      </div>
           <div class="fotbaltvItem">
          
          <div class="fotbaltvItem__row">
            <a href="#" class="ButtonNav-link">
                  Jindřichův Hradec
            </a>
            <h3 class="H6">
                Český trávník s.r.o. OP mužů - 8. liga
              </h3>
              <ul class="fotbaltvItem-term">
                 
                <li class="fotbaltvItem-term--finished">
                  3
                </li>
              </ul>
          </div>
          <div class="ToTopButton  ">
            <svg width="24" height="24" focusable="false" aria-hidden="true">
              <use xlink:href="#chevron-tv"></use>
            </svg>
          </div>
           <a href="#" class="fotbaltvItem__link  js-subMenu-toggle" role="button" aria-haspopup="true" aria-expanded="true"></a>
          <ul class="fotbaltvItem-wrapper">
            <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--draw">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result  ">3:3</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--win">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result ">3:1</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
          </ul>
      </div>
         
         
       
         <div class="fotbaltvItem">
          <div class="fotbaltvItem__row">
            <a href="#" class="ButtonNav-link  ">
                  Jindřichův Hradec
            </a>
            <h3 class="H6">
                Český trávník s.r.o. OP mužů - 8. liga
              </h3>
              <ul class="fotbaltvItem-term">
                <li class="fotbaltvItem-term--future">
                  2
                </li>
                <li class="fotbaltvItem-term--live">
                  4
                </li>
                <li class="fotbaltvItem-term--finished">
                  3
                </li>
              </ul>
          </div>
          <div class="ToTopButton">
            <svg width="24" height="24" focusable="false" aria-hidden="true">
              <use xlink:href="#chevron-tv"></use>
            </svg>
          </div>
           <a href="#" class="fotbaltvItem__link  js-subMenu-toggle" role="button" aria-haspopup="true" aria-expanded="true"></a>
          <ul class="fotbaltvItem-wrapper">
            <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--draw">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result  ">3:3</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--win">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    <strong class="H3 MatchItem-result ">3:1</strong>
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
              <li>
                <div class="fotbaltvItem-box fotbaltvItem-box--live">
                   <div class="u-display-flex u-align-items-center   u-justify-space-between">
                    so 21. 9. 2024, 15:30
                    <div class="fotbaltvItem-box__icon">
                      <svg width="24" height="24" focusable="false" aria-hidden="true">
                        <use xlink:href="#stream"></use>
                      </svg>
                    </div>
                  </div>
                    <div class="MatchRound-match">
                    <!-- Teams -->
                      <ul class="MatchItem-teams">
                        <li>
                          <span class="Flag fi fi-cz fis"></span>
                          <span class="H7 MatchItem-teamName">SK Klatovy 1898</span>
                        </li>
                        <li>
                          <span class="Flag fi fi-es fis"></span>
                          <span class="H7 MatchItem-teamName">TJ Keramika Chlumčany</span>
                        </li>
                      </ul>
                    {# <strong class="H4 MatchItem-result MatchItem-result--tie">3:3</strong> #}
                    </div>
                     <ul class="u-display-flex u-gap-8 u-flex-wrap u-mt-16">
                      <li>
                          <a href="#" class="ButtonNav-link">
                           Sledovat živě
                          </a>
                      </li>
                      <li>
                          <a href="#" class="ButtonNav-link   ">
                          On-line
                          </a>
                      </li>
                    </ul>
                </div>
            </li>
          </ul>
      </div>
        
     
     </div>

     

      {% include "../templates/partials/_pagination.njk" %}
    </div>
  </main>
{% endblock %}