{% extends "../templates/layout-subPage.njk" %}

{% set pageTitle = '{Bodová historie} | Fotbal.cz' %}
{% set bodyClass = 'SubPage' %}

{% block main %}
  <!-- Main content -->
  <main class="Main" aria-label="Hlavní obsah">

    {% include "../templates/partials/_breadcrumbs.njk" %}
   <h1 class="H5 u-mt-32">
      Bodová historie
   </h1>
   <section class="u-mb-32">
      <div class="pointHistory u-mb-primary u-mt-32">
         <div class="pointHistory-item lose">
            <div class="pointHistory-item-head">
               <div class="u-lh-1_2 Text u-fw-bold">
                  Ukrajina 1:1 Česko
               </div>
               <span>
                  +0 bodů
               </span>
            </div>
            <p class="u-fs-small u-lh-1_2 ">
               UEFA Liga národů B, skupina A 11. 10. 2024, epet Arena, Praha
            </p>
         </div>
         <div class="pointHistory-item win">
               <div class="pointHistory-item-head">
                  <div class="u-lh-1_2 Text u-fw-bold">
                     Česko 2:0 Albánie
                  </div>
                  <span>
                     +4 body
                  </span>
               </div>
            <p class="u-fs-small u-lh-1_2 ">
               UEFA Liga národů B, skupina A 14. 10. 2024, Wrocław Stadium, Polsko
            </p>
         </div>
         <div class="pointHistory-item win">
               <div class="pointHistory-item-head">
                  <div class="u-lh-1_2 Text u-fw-bold">
                     Česko 2:0 Albánie
                  </div>
                  <span>
                     +4 body
                  </span>
               </div>
            <p class="u-fs-small u-lh-1_2 ">
               UEFA Liga národů B, skupina A 11. 10. 2024, epet Arena, Praha
            </p>
         </div>
         <div class="pointHistory-item lose">
               <div class="pointHistory-item-head">
                  <div class="u-lh-1_2 Text u-fw-bold">
                     Ukrajina 1:1 Česko
                  </div>
                  <span>
                     +0 bodů
                  </span>
               </div>
            <p class="u-fs-small u-lh-1_2 ">
               UEFA Liga národů B, skupina A 14. 10. 2024, Wrocław Stadium, Polsko
            </p>
         </div>
          <div class="pointHistory-item lose">
            <div class="pointHistory-item-head">
               <div class="u-lh-1_2 Text u-fw-bold">
                  Ukrajina 1:1 Česko
               </div>
               <span>
                  +0 bodů
               </span>
            </div>
            <p class="u-fs-small u-lh-1_2 ">
               UEFA Liga národů B, skupina A 11. 10. 2024, epet Arena, Praha
            </p>
         </div>
         <div class="pointHistory-item win">
               <div class="pointHistory-item-head">
                  <div class="u-lh-1_2 Text u-fw-bold">
                     Česko 2:0 Albánie
                  </div>
                  <span>
                     +4 body
                  </span>
               </div>
            <p class="u-fs-small u-lh-1_2 ">
               UEFA Liga národů B, skupina A 14. 10. 2024, Wrocław Stadium, Polsko
            </p>
         </div>
         <div class="pointHistory-item win">
               <div class="pointHistory-item-head">
                  <div class="u-lh-1_2 Text u-fw-bold">
                     Česko 2:0 Albánie
                  </div>
                  <span>
                     +4 body
                  </span>
               </div>
            <p class="u-fs-small u-lh-1_2 ">
               UEFA Liga národů B, skupina A 11. 10. 2024, epet Arena, Praha
            </p>
         </div>
         <div class="pointHistory-item lose">
               <div class="pointHistory-item-head">
                  <div class="u-lh-1_2 Text u-fw-bold">
                     Ukrajina 1:1 Česko
                  </div>
                  <span>
                     +0 bodů
                  </span>
               </div>
            <p class="u-fs-small u-lh-1_2 ">
               UEFA Liga národů B, skupina A 14. 10. 2024, Wrocław Stadium, Polsko
            </p>
         </div>
          <div class="pointHistory-item lose">
            <div class="pointHistory-item-head">
               <div class="u-lh-1_2 Text u-fw-bold">
                  Ukrajina 1:1 Česko
               </div>
               <span>
                  +0 bodů
               </span>
            </div>
            <p class="u-fs-small u-lh-1_2 ">
               UEFA Liga národů B, skupina A 11. 10. 2024, epet Arena, Praha
            </p>
         </div>
         <div class="pointHistory-item win">
               <div class="pointHistory-item-head">
                  <div class="u-lh-1_2 Text u-fw-bold">
                     Česko 2:0 Albánie
                  </div>
                  <span>
                     +4 body
                  </span>
               </div>
            <p class="u-fs-small u-lh-1_2 ">
               UEFA Liga národů B, skupina A 14. 10. 2024, Wrocław Stadium, Polsko
            </p>
         </div>
         <div class="pointHistory-item win">
               <div class="pointHistory-item-head">
                  <div class="u-lh-1_2 Text u-fw-bold ">
                     Česko 2:0 Albánie
                  </div>
                  <span>
                     +4 body
                  </span>
               </div>
            <p class="u-fs-small u-lh-1_2 ">
               UEFA Liga národů B, skupina A 11. 10. 2024, epet Arena, Praha
            </p>
         </div>
         <div class="pointHistory-item lose">
               <div class="pointHistory-item-head">
                  <div class="u-lh-1_2 Text u-fw-bold">
                     Ukrajina 1:1 Česko
                  </div>
                  <span>
                     +0 bodů
                  </span>
               </div>
            <p class="u-fs-small u-lh-1_2 ">
               UEFA Liga národů B, skupina A 14. 10. 2024, Wrocław Stadium, Polsko
            </p>
         </div>
      </div>
      <a href="#js-header" class="Link u-fw-bold">Nahoru</a>
   </section>

   
  </main>
{% endblock %}
