{% extends "../templates/layout-subPage.njk" %} {% set pageTitle = '{Reprezentace - Historické statistiky} | Fotbal.cz' %} {% set bodyClass = 'SubPage' %} {% block main %}
<!-- Main content -->
<main class="Main" aria-label="Hlavní obsah">
  <h1 class="H3">Česko A - Historické statistiky</h1>

  <section class="u-mt-primary">
    <h2 class="H6">Nejvíce branek</h2>
    <ol class="OrderedPlayerList u-pl-24 u-xs-pl-0 u-mt-24">
      <li class="OrderedPlayerList-item">
        <a href="#" class="H5 Link--inverted u-c-tertiary">Koller Jan</a>
        <p class="u-c-grey--100">55 branek</p>
      </li>
      <li class="OrderedPlayerList-item">
        <a href="#" class="H5 Link--inverted u-c-tertiary">{Player name}</a>
        <p class="u-c-grey--100">55 branek</p>
      </li>
      <li class="OrderedPlayerList-item">
        <a href="#" class="H5 Link--inverted u-c-tertiary">{Extra long player name}</a>
        <p class="u-c-grey--100">55 branek</p>
      </li>
      <li class="OrderedPlayerList-item">
        <a href="#" class="H5 Link--inverted u-c-tertiary">Koller Jan</a>
        <p class="u-c-grey--100">55 branek</p>
      </li>
      <li class="OrderedPlayerList-item">
        <a href="#" class="H5 Link--inverted u-c-tertiary">{Player name}</a>
        <p class="u-c-grey--100">55 branek</p>
      </li>
    </ol>
    <div class="u-display-flex u-justify-flex-end u-sm-justify-center u-mt-16 u-sm-mt-24">
      <a href="#" class="Button">Zobrazit vše</a>
    </div>
  </section>

  <hr class="u-my-24" />

  <section class="u-mt-primary">
    <h2 class="H6">
      Nejvíce startů
      <span class="u-display-block u-fs-normal u-c-grey--100">{note}</span>
    </h2>
    <ol class="OrderedPlayerList u-pl-24 u-xs-pl-0 u-mt-24">
      <li class="OrderedPlayerList-item">
        <a href="#" class="H5 Link--inverted u-c-tertiary">Koller Jan</a>
        <p class="u-c-grey--100">55 startů</p>
      </li>
      <li class="OrderedPlayerList-item">
        <a href="#" class="H5 Link--inverted u-c-tertiary">{Player name}</a>
        <p class="u-c-grey--100">55 startů</p>
      </li>
      <li class="OrderedPlayerList-item">
        <a href="#" class="H5 Link--inverted u-c-tertiary">{Extra long player name}</a>
        <p class="u-c-grey--100">55 startů</p>
      </li>
      <li class="OrderedPlayerList-item">
        <a href="#" class="H5 Link--inverted u-c-tertiary">Koller Jan</a>
        <p class="u-c-grey--100">55 startů</p>
      </li>
      <li class="OrderedPlayerList-item">
        <a href="#" class="H5 Link--inverted u-c-tertiary">{Player name}</a>
        <p class="u-c-grey--100">55 startů</p>
      </li>
    </ol>
    <div class="u-display-flex u-justify-flex-end u-sm-justify-center u-mt-16 u-sm-mt-24">
      <a href="#" class="Button">Zobrazit vše</a>
    </div>
  </section>
</main>
{% endblock %}
