{% extends "../templates/layout-subPage.njk" %}

{% set pageTitle = '{Reprezentace - Nominace} | Fotbal.cz' %}
{% set bodyClass = 'SubPage' %}

{% block main %}
  <!-- Main content -->
  <main class="Main" aria-label="Hlavní obsah">
    <h1 class="H3">Česko A - Nominace</h1>

    <!-- Nominations list -->
    <ul class="List List--topBordered u-mt-24">
      <!-- Nomination item -->
      <li class="ListItemSplit">
        <div class="ListItemSplit-leftContainer ListItemSplit-leftContainer--fullPadding">
          <a href="./repre-nomination-detail.html" class="H7 Link--inverted u-display-block">Nominace ČR A na zápasy kvalifikace UEFA EURO 2024 proti Polsku a Moldavsku</a>
        </div>
        <div class="ListItemSplit-rightContainer">
          <ul class="IconList">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
              </svg>
              <p>
                <strong>Termín:</strong>
                3. 3. 2023 - 3. 3. 2025
              </p>
            </li>
            <!-- Pozn. od Aleše: U nominace může / nemusí být uveden související turnaj. Uváděl bych jen turnaje, ne samostatné zápasy. -->
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cup"></use>
              </svg>
              <p>
                <strong>Turnaj:</strong>
                <a href="#" class="Link--inverted u-c-tertiary">Liga národů 2022/2023</a>
              </p>
            </li>
          </ul>
        </div>
      </li>
      <!-- Nomination item -->
      <li class="ListItemSplit">
        <div class="ListItemSplit-leftContainer ListItemSplit-leftContainer--fullPadding">
          <a href="./repre-nomination-detail.html" class="H7 Link--inverted u-display-block">Nominace ČR A na zápasy Ligy národů s Portugalskem a Švýcarskem</a>
        </div>
        <div class="ListItemSplit-rightContainer">
          <ul class="IconList">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
              </svg>
              <p>
                <strong>Termín:</strong>
                3. 3. 2023 - 3. 3. 2025
              </p>
            </li>
            <!-- Pozn. od Aleše: U nominace může / nemusí být uveden související turnaj. Uváděl bych jen turnaje, ne samostatné zápasy. -->
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cup"></use>
              </svg>
              <p>
                <strong>Turnaj:</strong>
                <a href="#" class="Link--inverted u-c-tertiary">Liga národů 2022/2023</a>
              </p>
            </li>
          </ul>
        </div>
      </li>
      <!-- Nomination item -->
      <li class="ListItemSplit">
        <div class="ListItemSplit-leftContainer ListItemSplit-leftContainer--fullPadding">
          <a href="./repre-nomination-detail.html" class="H7 Link--inverted u-display-block">Nominace ČR A na zápasy kvalifikace UEFA EURO 2024 proti Polsku a Moldavsku</a>
        </div>
        <div class="ListItemSplit-rightContainer">
          <ul class="IconList">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
              </svg>
              <p>
                <strong>Termín:</strong>
                3. 3. 2023 - 3. 3. 2025
              </p>
            </li>
          </ul>
        </div>
      </li>
      <!-- Nomination item -->
      <li class="ListItemSplit">
        <div class="ListItemSplit-leftContainer ListItemSplit-leftContainer--fullPadding">
          <a href="./repre-nomination-detail.html" class="H7 Link--inverted u-display-block">Nominace ČR A na zápasy kvalifikace UEFA EURO 2024 proti Polsku a Moldavsku</a>
        </div>
        <div class="ListItemSplit-rightContainer">
          <ul class="IconList">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
              </svg>
              <p>
                <strong>Termín:</strong>
                3. 3. 2023 - 3. 3. 2025
              </p>
            </li>
            <!-- Pozn. od Aleše: U nominace může / nemusí být uveden související turnaj. Uváděl bych jen turnaje, ne samostatné zápasy. -->
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cup"></use>
              </svg>
              <p>
                <strong>Turnaj:</strong>
                <a href="#" class="Link--inverted u-c-tertiary">Liga národů 2022/2023</a>
              </p>
            </li>
          </ul>
        </div>
      </li>
      <!-- Nomination item -->
      <li class="ListItemSplit">
        <div class="ListItemSplit-leftContainer ListItemSplit-leftContainer--fullPadding">
          <a href="./repre-nomination-detail.html" class="H7 Link--inverted u-display-block">Nominace ČR A na zápasy Ligy národů s Portugalskem a Švýcarskem</a>
        </div>
        <div class="ListItemSplit-rightContainer">
          <ul class="IconList">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
              </svg>
              <p>
                <strong>Termín:</strong>
                3. 3. 2023 - 3. 3. 2025
              </p>
            </li>
            <!-- Pozn. od Aleše: U nominace může / nemusí být uveden související turnaj. Uváděl bych jen turnaje, ne samostatné zápasy. -->
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cup"></use>
              </svg>
              <p>
                <strong>Turnaj:</strong>
                <a href="#" class="Link--inverted u-c-tertiary">Liga národů 2022/2023</a>
              </p>
            </li>
          </ul>
        </div>
      </li>
      <!-- Nomination item -->
      <li class="ListItemSplit">
        <div class="ListItemSplit-leftContainer ListItemSplit-leftContainer--fullPadding">
          <a href="./repre-nomination-detail.html" class="H7 Link--inverted u-display-block">Nominace ČR A na zápasy kvalifikace UEFA EURO 2024 proti Polsku a Moldavsku</a>
        </div>
        <div class="ListItemSplit-rightContainer">
          <ul class="IconList">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
              </svg>
              <p>
                <strong>Termín:</strong>
                3. 3. 2023 - 3. 3. 2025
              </p>
            </li>
          </ul>
        </div>
      </li>
      <!-- Nomination item -->
      <li class="ListItemSplit">
        <div class="ListItemSplit-leftContainer ListItemSplit-leftContainer--fullPadding">
          <a href="./repre-nomination-detail.html" class="H7 Link--inverted u-display-block">Nominace ČR A na zápasy kvalifikace UEFA EURO 2024 proti Polsku a Moldavsku</a>
        </div>
        <div class="ListItemSplit-rightContainer">
          <ul class="IconList">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
              </svg>
              <p>
                <strong>Termín:</strong>
                3. 3. 2023 - 3. 3. 2025
              </p>
            </li>
            <!-- Pozn. od Aleše: U nominace může / nemusí být uveden související turnaj. Uváděl bych jen turnaje, ne samostatné zápasy. -->
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cup"></use>
              </svg>
              <p>
                <strong>Turnaj:</strong>
                <a href="#" class="Link--inverted u-c-tertiary">Liga národů 2022/2023</a>
              </p>
            </li>
          </ul>
        </div>
      </li>
      <!-- Nomination item -->
      <li class="ListItemSplit">
        <div class="ListItemSplit-leftContainer ListItemSplit-leftContainer--fullPadding">
          <a href="./repre-nomination-detail.html" class="H7 Link--inverted u-display-block">Nominace ČR A na zápasy Ligy národů s Portugalskem a Švýcarskem</a>
        </div>
        <div class="ListItemSplit-rightContainer">
          <ul class="IconList">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
              </svg>
              <p>
                <strong>Termín:</strong>
                3. 3. 2023 - 3. 3. 2025
              </p>
            </li>
            <!-- Pozn. od Aleše: U nominace může / nemusí být uveden související turnaj. Uváděl bych jen turnaje, ne samostatné zápasy. -->
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cup"></use>
              </svg>
              <p>
                <strong>Turnaj:</strong>
                <a href="#" class="Link--inverted u-c-tertiary">Liga národů 2022/2023</a>
              </p>
            </li>
          </ul>
        </div>
      </li>
      <!-- Nomination item -->
      <li class="ListItemSplit">
        <div class="ListItemSplit-leftContainer ListItemSplit-leftContainer--fullPadding">
          <a href="./repre-nomination-detail.html" class="H7 Link--inverted u-display-block">Nominace ČR A na zápasy kvalifikace UEFA EURO 2024 proti Polsku a Moldavsku</a>
        </div>
        <div class="ListItemSplit-rightContainer">
          <ul class="IconList">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" focusable="false" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#calendar"></use>
              </svg>
              <p>
                <strong>Termín:</strong>
                3. 3. 2023 - 3. 3. 2025
              </p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </main>
{% endblock %}