{% extends "../templates/layout-subPage.njk" %}

{% set pageTitle = 'Sociální sítě | Fotbal.cz' %}
{% set bodyClass = 'SubPage' %}

{% block main %}
  <!-- Main content -->
  <main class="Main" aria-label="Hlavní obsah">
    <div class="Article">
      <h1 class="H3">Sociální sítě</h1>

      <div class="Article-body">
        <!-- Static page content -->
        <section class="SectionBottomBordered">
          <h2>Sociální sítě FAČR</h2>
          <div class="Article-widget u-mt-16">
            <ul class="Socials Socials--article" aria-label="Odkazy na sociální sítě FAČR">
              <!-- Facebook -->
              <li class="Socials-item">
                <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" title="Facebook - Fotbalová asociace České republiky">
                  <img src="./img/icons/socials/facebook.svg" width="80" height="80" alt="" loading="lazy"/>
                </a>
              </li>
              <!-- Twitter -->
              <li class="Socials-item">
                <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" title="Twitter - Fotbalová asociace České republiky">
                  <img src="./img/icons/socials/twitter.svg" width="80" height="80" alt="" loading="lazy"/>
                </a>
              </li>
              <!-- Instagram -->
              <li class="Socials-item">
                <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" title="Instagram - Fotbalová asociace České republiky">
                  <img src="./img/icons/socials/instagram.svg" width="80" height="80" alt="" loading="lazy"/>
                </a>
              </li>
              <!-- YouTube -->
              <li class="Socials-item">
                <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" title="YouTube - Fotbalová asociace České republiky">
                  <img src="./img/icons/socials/youtube.svg" width="80" height="80" alt="" loading="lazy"/>
                </a>
              </li>
              <!-- TikTok -->
              <li class="Socials-item">
                <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" title="TikTok - Fotbalová asociace České republiky">
                  <img src="./img/icons/socials/tiktok.svg" width="80" height="80" alt="" loading="lazy"/>
                </a>
              </li>
              <!-- Flickr -->
              <li class="Socials-item">
                <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" title="Flickr - Fotbalová asociace České republiky">
                  <img src="./img/icons/socials/flickr.svg" width="80" height="80" alt="" loading="lazy"/>
                </a>
              </li>
              <!-- Apple podcast -->
              <li class="Socials-item">
                <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" title="Apple podcast - Fotbalová asociace České republiky">
                  <img src="./img/icons/socials/apple-podcast.svg" width="80" height="80" alt="" loading="lazy"/>
                </a>
              </li>
            </ul>
          </div>
        </section>

        <section class="SectionBottomBordered">
          <h2>{Název sekce}</h2>
          <div class="Article-widget u-mt-16">
            <ul class="Socials Socials--article" aria-label="Odkazy na sociální sítě - {Název sekce}">
              <!-- Facebook -->
              <li class="Socials-item">
                <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" title="Facebook - {Název sekce}">
                  <img src="./img/icons/socials/facebook.svg" width="80" height="80" alt="" loading="lazy"/>
                </a>
              </li>
              <!-- Twitter -->
              <li class="Socials-item">
                <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" title="Twitter - {Název sekce}">
                  <img src="./img/icons/socials/twitter.svg" width="80" height="80" alt="" loading="lazy"/>
                </a>
              </li>
              <!-- Instagram -->
              <li class="Socials-item">
                <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" title="Instagram - {Název sekce}">
                  <img src="./img/icons/socials/instagram.svg" width="80" height="80" alt="" loading="lazy"/>
                </a>
              </li>
              <!-- YouTube -->
              <li class="Socials-item">
                <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" title="YouTube - {Název sekce}">
                  <img src="./img/icons/socials/youtube.svg" width="80" height="80" alt="" loading="lazy"/>
                </a>
              </li>
            </ul>
          </div>
        </section>

        <section class="SectionBottomBordered">
          <h2>{Název sekce}</h2>
          <div class="Article-widget u-mt-16">
            <ul class="Socials Socials--article" aria-label="Odkazy na sociální sítě - {Název sekce}">
              <!-- Facebook -->
              <li class="Socials-item">
                <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" title="Facebook - {Název sekce}">
                  <img src="./img/icons/socials/facebook.svg" width="80" height="80" alt="" loading="lazy"/>
                </a>
              </li>
              <!-- YouTube -->
              <li class="Socials-item">
                <a class="Socials-link" href="#" target="_blank" rel="noopener noreferrer" title="YouTube - {Název sekce}">
                  <img src="./img/icons/socials/youtube.svg" width="80" height="80" alt="" loading="lazy"/>
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </main>
{% endblock %}