{% extends "../templates/layout-subPage.njk" %}

{% set pageTitle = '{Název statické stránky} | Fotbal.cz' %}
{% set bodyClass = 'SubPage' %}

{% block main %}
  <!-- Main content -->
  <main class="Main" aria-label="Hlavní obsah">
    <article class="Article">
      <h1 class="H3">Hlavní nadpis</h1>
      <div class="Article-body">
        <!-- Static content goes here -->
        <h2>Podnadpis H2</h2>
        <p>Seriál Skvěle, kluci! představuje devět základních principů hry, kterými by se na základě analýzy současných trendů chtěly prezentovat mládežnické reprezentace a bude postupně představovat povedené akce mládežnických reprezentací i s komentářem jejich trenérů. Zároveň se zaměří na základní principy hry českých národních týmů. V očích trenérů národních týmů je vzorovým hráčem, který naplňuje všechny tyto principy, záložník A týmu Tomáš Souček. Týden, co týden tak pro vás budou nyní trenéři U15 - U20 vybírat a komentovat herní situace, které tyto zásady v jejich očích splňují.</p>

        <h3>Podnadpis H3</h3>
        <p>Pro hráče je celkově připraveno šest hodin pohybových aktivit, které jsou dominantně zaměřeny na rozvoj pohybových dovedností s cílem dosáhnout efektivnějšího řízení a následné ekonomiky pohybu projevující se v koordinačních schopnostech. Cílem je pozitivně ovlivňovat ty svalové skupiny, u kterých je jednostranným fotbalovým zatěžováním pozměněna časová souhra v jejich aktivaci. Výsledkem je vytvořený pohybový vzor, který se projevuje v podobě dosažené úrovně základní pohybové gramotnosti.</p>
      </div>
    </article>
  </main>
{% endblock %}