.LoyaltyLevel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 6px;
  padding: 0 12px;
  @include respondTo(md) {
    padding: 0;
  }
  li {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
    flex: 1;
    max-width: 140px;
    text-align: center;
    height: 32px;
    align-content: center;
    font-size: 16px;
    line-height: 20px;
    font-family: $fontFamilySecondary;
  }
  .active {
    border-width: 2px;
  }
  &-bronze {
    color: #cd7f32;
    border-color: #cd7f32;
  }
  &-silver {
    color: $colorGrey--100;
    border-color: $colorGrey--100;
  }
  &-gold {
    color: gold;
    border-color: gold;
  }
  .hidden {
    color: $colorGrey--90;
    border-color: $colorGrey--90;
  }
}
.LoyaltyLevel-slide {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include respondTo(md) {
    padding: 0 24px;
  }
  .H9 {
    margin-bottom: 10px;
  }
}
.swiper-slide-next .LoyaltyLevel-slide {
  border-left: 2px solid $colorGrey--100;
  border-right: 2px solid $colorGrey--100;
}
.swiper-slide.swiper-slide-active .LoyaltyLevel-slide {
  @include respondTo(md) {
    padding-left: 40px;
  }
}

.LoyaltyLevel-swiper {
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    background-color: transparent;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    &:hover,
    &:focus {
      border: none;
    }
  }
  .swiper-button-prev {
    left: 0;
    @include respondTo(md) {
      left: 8px;
    }
  }
  .swiper-button-next {
    right: 0;
    @include respondTo(md) {
      right: 8px;
    }
  }
}
