<!-- Ad - full width - mobile only -->
<div class="Ad Ad--mobile">
  <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Reklama">
    <img src="https://placehold.jp/b51d12/ffffff/1152x288.jpg?text=reklama%20-%20mobil" width="576" height="144" alt="" loading="lazy"/>
  </a>
</div>