<!-- Add - Cover -->
{# U coveru je zapotřebí, aby <body> mělo navíc classu "is-blocked" #}
<div class="Modal js-modal is-active" id="modal-cover" tabindex="-1" role="dialog" aria-labelledby="modal-cover-heading" aria-describedby="modal-cover-desc">
  <div class="Modal-dialog Modal-dialog--cover">
    <div class="Modal-content CustomScrollbar">
      <!-- Mobile -->
      <div class="Ad Ad--mobile">
        <a href="#" target="_blank" rel="noopener noreferrer" class="Link--complex">
          <img src="https://placehold.jp/b51d12/ffffff/1600x1200.jpg?text=reklama%20-%20mobil" width="800" height="600" alt="" loading="lazy"/>
        </a>
      </div>
      <!-- Desktop -->
      <div class="Ad Ad--desktop">
        <a href="#" target="_blank" rel="noopener noreferrer" class="Link--complex ">
          <img src="https://placehold.jp/b51d12/ffffff/1600x1200.jpg?text=reklama" width="800" height="600" alt="" loading="lazy"/>
        </a>
      </div>
    </div>
    <button type="button" class="CloseButton js-modal-close" aria-label="Zavřít okno">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" focusable="false" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close-circle"></use>
      </svg>
    </button>
  </div>
</div>