<!-- Ad - Leaderboard - mobile -->
<div class="Ad Ad--mobile">
  <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Reklama">
    <img src="https://placehold.jp/b51d12/ffffff/1152x288.jpg?text=reklama%20-%20mobil" width="576" height="144" alt=""/>
  </a>
</div>
<!-- Ad - Leaderboard - desktop -->
<div class="Ad Ad--desktop">
  <a href="#" target="_blank" rel="noopener noreferrer" aria-label="Reklama">
    <img src="https://placehold.jp/b51d12/ffffff/2800x288.jpg?text=reklama" width="1400" height="144" alt=""/>
  </a>
</div>