.Section {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &:last-of-type {
    padding-bottom: 0;
  }

  @include respondTo(xs) {
    padding-bottom: 1rem;
  }

  &--animated {
    opacity: 0;
    transform: translateY(1.5rem);

    &.is-active {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.25s linear, transform 0.5s $easeOutQuad;
    }
  }
}
